@import '../sprite.styl'
@import '../variables.styl'


.catalog
  &_header
    overflow hidden
    color white
    height 704px
    width 100%
    background url(../../images/catalog_header.png) no-repeat
    background-position center
    background-size cover
    margin-top 0px
    padding-top 200px
    position relative
    
    &.zindex
      z-index -1
    &_slider
      padding-top 95px
      margin-bottom 80px

      
      &_item
        padding-right 66px
        position relative
        width 230px
        
        &_image
          width 100%
          height 80px
          background-repeat no-repeat
          background-position top left
          
        a:hover
            
          & + a
            color color_green
        
        &_title
          max-width 160px
          color white
          font-family FuturaPTHeavy
          font-size 24px
          float left
          line-height 24px
          
          &:active
          &:hover
            color color_green!important
            
          &:visited
            color white
          
        &_count
          text-transform uppercase
          padding-top 7px
          font-family FuturaPTMedium
          font-size 12px
          float left
          color color_white_opacity
          clear left
      
      &_block
        overflow hidden
        width 100%
        
        & .row
        & .container
          position relative
      
      
      &_loadmore
        display block

        position relative
        margin-top 76px
        font-family FuturaPTHeavy
        font-size 24px
        line-height 28px
        max-width 230px
        background none
        

    
    &_consult
      font-family FuturaPTBold
      margin-top 30px
      min-width 230px
      text-transform uppercase
      font-size 16px
      color white
      line-height 24px


      &_link
        margin-top 20px
        max-width 250px
        display inline-block
        font-size: 18px
        color white
        font-family FuturaPTBook
        line-height 28px
        
        &:hover
        &:active
          span
            color color_green
        
        & span
          transition 150ms all ease-in
          color white
          font-family FuturaPTBook

        &:hover
        &:active
          color color_green

    &_leed
      display block
      font-family LeksaPro
      font-size 18px
      line-height 
      color white
      line-height 22px
      margin-top 32px
    

  &_preferences
    overflow hidden
    padding-top 50px
    margin-top 50px
    
    & .row
      position relative
    
    &_white
      position absolute
      right 0px
      top -30px
      background white
      z-index -1
      width 75%
      height 470px
    
    &_link
      position relative
      top -30px

      
      & span
      & a
        font-size 18px
        color #0c0c0c
        font-family LeksaPro
        line-height: 22px

      & a:hover
      & a:active
        color color_green

    &_item
      padding-top 180px
      
      h3
        margin-right -30px

      div
        z-index -1
        position absolute
        top -30px
        left -100px
        right -100px
        height 200%
        
        
      &_1
        div
          background url(../../images/preferences/catalog_complex_assortiment.png) center -20px no-repeat
        
      &_2
        div
          background url(../../images/preferences/catalog_complex_education.png) center 20px no-repeat
        
      &_3
        div
          background url(../../images/preferences/catalog_complex_delivery.png) center 20px no-repeat
        
      &_4
        div
          background url(../../images/preferences/catalog_complex_servis.png) center -20px no-repeat

      & + &
        margin-left 6.66666666667%
      
      & p
        font-size 16px
        line-height 24px
        font-family LeksaPro
        margin-top 15px  


    

@media (max-width: 1000px)
  .catalog
    &_preferences
      &_item
        min-height 400px
        & + &
          margin-left 0px


@media (max-width: 768px)

  section
    margin-top 50px

  .padding_768
    padding-left 25px

  .interesed
    overflow hidden!important
    
    & h2
      margin-bottom 30px
      padding-bottom 0px!important

  .catalog
  
    &_preferences
      &_link
        max-width 250px
        line-height 24px
        top -30px
        
        & span
        & a
          line-height 0px
          font-size 18px
    
    &_header
      height 600px
      z-index 0
      position relative
      padding-top 120px
      

      
      &_slider
        &_item
          &_image
            margin-bottom 10px
            height 60px
            background-size contain
      
      &_consult
        margin-top 50px
        font-size 16px
      
        &_link
          word-break break-word
          margin-top 0px
          max-width 100%
          font-size 14px

      & h1 
        font-size 48px
        
      &_leed
        margin-top 15px
        font-size 14px
        line-height 18px
        max-width 140px
      
      &_slider
        padding-top 35px
        
        &_loadmore
          max-width 1000px
          margin-top 0px
          top 0px
          padding-top 0px
          font-size 14px
          line-height 14px
          
          & span
            padding-bottom 3px
            
            &:after
              height 2px
        
        &_item
          padding-right 30px
          width 160px
          
          &_title
            max-width 130px
            font-size 16px
            line-height 16px
            
          &_count
            padding-top 6px
            font-size 10px
            

    &_preferences
      margin-top 50px
      
      &_item
        padding-top 250px
        margin-top 30px
        
        & + &
          margin-top -100px
        
        & p
          margin-top 15px
          font-size 16px
          line-height 20px
          
        & div
          top -30px
          height 150%

        & + &
          margin-left 0px
          
        &_1
          div
            background url(../../images/preferences/mobile_catalog_complex_assortiment.png) center 50px no-repeat
            background-size 50%
          
        &_2
          div
            background url(../../images/preferences/mobile_catalog_complex_education.png) center 100px no-repeat
            background-size 50%
          
        &_3
          div
            background url(../../images/preferences/mobile_catalog_complex_delivery.png) center 100px no-repeat
            background-size 50%
          
        &_4
          div
            background url(../../images/preferences/mobile_catalog_complex_servis.png) center 100px no-repeat
            background-size 50%


