@import '../sprite.styl'
@import '../variables.styl'



.category
  
  &_nologged
    min-height 186px
    width 100%
    float left
    position relative
    z-index 15
    
    &_margin
      & > .category_nologged
        padding-top 20px
        z-index 2

    &_description
      font-family FuturaPTBook
      float left
      margin-top 16px
      position relative
      clear left
      color #ffffff
      font-size 16px

    &_absolute
      display block
      padding-top 77px
      padding-left 70px
      height 210px
      bottom 0px  
      background url(../../images/planet.png) right bottom  no-repeat
      position absolute
      width 100%
      
    & a
      height auto
      color white
      font-size 30px
      font-family FuturaPTHeavy
      position relative
      display block
      float left

  &_norm
  &_gor
    position relative
    width 20px
    height 17px
    background transparent
    z-index 4
    display block
    top -17px
    margin-left 18px
    
    & div
      position absolute
      left 0px
      top 0px
      height 100%
      width 100%
      background url(../../images/sprites/list_plit.png)  no-repeat
    
    &.active
      &:before
        z-index -1
        content ''
        display inline-block
        background color_green
        width 20px
        height 20px
        position absolute
        left -4px
        bottom -4px
    
  &_gor
    & div
      background url(../../images/sprites/list_gor.png)  no-repeat

  &_section
    padding-top 30px

  &_header
    padding-top 180px
    margin-top 0px
    padding-bottom 40px
    
    .row 
      position relative
    
    &_absolute
      position absolute
      width 100%
      top 83px
      min-height 376px

    &_white
      position absolute
      background white
      width 100%
      z-index -1
      min-height 336px
      
      &.sub
        min-height 280px
        top 55px

    &_showmore
      font-size 20px
      color: black
      font-family: FuturaPTHeavy
      margin-top 65px
      position relative
      display inline-block
      
      &:before
        position absolute
        width 80%
        height 25%
        bottom 3px
        left -25px
        
      &:after
        position absolute
        content ''
        width 11px
        height 17px
        transform rotate(180deg)
        left -25px
        bottom 5px
        display block
        background url(../../images/sprites/mobile_menu_left.png)  no-repeat
        background-size cover
    
    &_green
      width 100%
      min-height 376px
      background url(../../images/kitchen.png) no-repeat
      

      & .ecocheckbox
        margin-top 0px
        float right
        padding-top 40px
        
        &:hover
        &:active
          .ecocheckbox
            &-text
              color black
        
        &-text
          color black
        
        &_block
          margin-left 15px
        
        & input[type='checkbox']
          
          &+label
            width 24px
            opacity 0.8
            height 24px
            background url(../../images/sprites/checkbox-1.png)  no-repeat
            

          &:checked + label
            width 24px
            opacity 0.8
            height 24px
            background  white url(../../images/sprites/checkbox2_ok.png)  no-repeat!important
        
    h1 
      font-family FuturaPTHeavy
      color: rgba(0, 0, 0, 0.8)
      font-size: 72px
      z-index 6
      
      &.sub   
        font-size: 64px   

@media (max-width: 768px)
  

  .category
    

    &_section
      & .panel-heading a
        &:before
          top 9px
          transform rotate(0deg)
          right 15px
          left inherit
          right 0px
        
        &[aria-expanded="true"]:before
          transform rotate(270deg)
          
        
      & .panel-title > a
        margin-left 0px
        padding-right 50px
        display block

    &_header
      padding-top 90px
      

      &_picture
        position absolute
        height 186px
        right 15px
        z-index -1
        width 233px
        background url(../../images/mobile_subcatalog.png) no-repeat
        
        &.sub
          top 35px
          height 225px
      
      &_showmore
        font-size 15px
        
        &:after
          display none
      
      & h1
      & h1.sub
        line-height 30px
        font-size 27px
      
    &_breadcrumb
      width 100%!important
      