@font-face
   font-family FuturaPTBook
   font-style normal
   src url(../../fonts/Futura/FuturaPTBook.otf) format("truetype")
   
@font-face
   font-family FuturaPTDemi
   font-style normal
   src url(../../fonts/Futura/FuturaPTDemi.otf) format("truetype")

@font-face
   font-family FuturaPTHeavy
   font-style normal
   src url(../../fonts/Futura/FuturaPTHeavy.otf) format("truetype")
   
@font-face
   font-family FuturaPTBold
   font-style normal
   src url(../../fonts/Futura/FuturaPTBold.otf) format("truetype")

@font-face
   font-family FuturaPTMedium
   font-style normal
   src url(../../fonts/Futura/FuturaPTMedium.otf) format("truetype")
   
@font-face
   font-family LeksaPro
   font-style normal
   src url(../../fonts/Leksa/LeksaPro.ttf) format("truetype")