@font-face
   font-family FuturaPTBook
   font-style normal
   src url(../../fonts/Futura/FuturaPTBook.otf)
   
@font-face
   font-family FuturaPTDemi
   font-style normal
   src url(../../fonts/Futura/FuturaPTDemi.otf)

@font-face
   font-family FuturaPTHeavy
   font-style normal
   src url(../../fonts/Futura/FuturaPTHeavy.otf)
   
@font-face
   font-family FuturaPTBold
   font-style normal
   src url(../../fonts/Futura/FuturaPTBold.otf)
   
@font-face
   font-family LeksaPro
   font-style normal
   src url(../../fonts/Leksa/LeksaPro.ttf)