@font-face
   font-family FuturaPTBook
   font-style normal
   src url(../../fonts/Futura/FuturaPTBook.ttf) format("truetype")
   
@font-face
   font-family FuturaPTDemi
   font-style normal
   src url(../../fonts/Futura/FuturaPTDemi.ttf) format("truetype")

@font-face
   font-family FuturaPTHeavy
   font-style normal
   src url(../../fonts/Futura/FuturaPTHeavy.ttf) format("truetype")
   
@font-face
   font-family FuturaPTBold
   font-style normal
   src url(../../fonts/Futura/FuturaPTBold.ttf) format("truetype")

@font-face
   font-family FuturaPTMedium
   font-style normal
   src url(../../fonts/Futura/FuturaPTMedium.ttf) format("truetype")
   
@font-face
   font-family LeksaPro
   font-style normal
   src url(../../fonts/Leksa/LeksaPro.ttf) format("truetype")