@import '../sprite.styl'
@import '../variables.styl'
.footer
  font-size 18px
  color black
  vertical-align middle
  line-height 22px
  margin-top 100px
  
  &_fb
  &_vk
    display inline-block
    position relative
    width 24px
    top 2px
    height 20px
    margin-right 13px

  &_fb
    background url(../../images/sprites/footer_facebook.png)
    width 18px
    height 21px
    
  &_vk
    background url(../../images/sprites/footer_vk.png)

  &_love
    display inline-block
    margin-left 3px
    position relative
    top 2px
    margin-right 3px
    width 16px
    height 15px
    background url(../../images/sprites/footer_heart.png)
    
  &_up
    width 27px
    height 17px
    vertical-align: bottom
    display: inline-block
    top: 4px
    position: relative
    cursor pointer
    background url(../../images/sprites/footer_up.png)

  &_addons
    padding-top 35px
    padding-bottom 50px
  
  & nav
    background-color #f2f3f3
    padding-top 25px
    padding-bottom 28px
    font-family FuturaPTDemi
    
    & .container
      position relative
    
    & ul
    
      & li
        margin-left 0px
        padding-left 0px
        font-size 13px
        display inline-block
        text-transform uppercase
        
        
        & + li
          margin-left 40px
          
    
@media (max-width: 1000px)
  .footer
    & nav
      padding-top 37px
      padding-bottom 37px
      
      & ul
        margin-right 50px
        
        & li
          width 200px
          font-size 16px
          
          &+li
            margin-top 10px
            margin-left 0px
    
 
  
@media (max-width: 768px)
  
  .footer
    font-size 12px
    line-height 22px
    
    & nav
      & ul
        & li
          width 120px
          font-size 12px
          
          &+li
            margin-top 0px
    
    &_addons
      padding-top 25px
      white-space nowrap
      padding-bottom 60px
      
      & div:last-child
        clear both
        margin-top 13px

    &_up
      position absolute
      right 23px
      width 26px
      height 24px
      background url(../../images/sprites/mobile_footer_up.png) no-repeat
      background-size cover
        
    &_fb
    &_vk
      display inline-block
      position relative
      width 12px
      top 2px
      height 10px
      margin-right 5px

    &_fb
      background url(../../images/sprites/mobile_footer_facebook.png) no-repeat
      background-size cover
      width 9px
      height 12px
      
    &_vk
      background url(../../images/sprites/mobile_footer_vk.png) no-repeat
      background-size contain

        
