@import '../sprite.styl'
@import '../variables.styl'
@import 'fonts.styl'

.header
  position absolute
  width 100%
  top 0px
  font-size 13px
  color white
  transform scaleY(1.0038)
  padding-top 68px
  font-family FuturaPTBold
  text-transform uppercase
  
  & a
    color white
    font-size 13px
    cursor pointer
    font-family FuturaPTBold
    
    &:not(.header_phone):hover
    &:not(.header_phone):active
    &:not(.header_phone):visited
    &:not(.header_phone):focus
      color white

  .container
    line-height 56px
    
  &_search
    margin-top 13px
    width 17%
    padding-left 30px
    margin-right 5.5%
    line-height 30px
    background url(../../images/sprites/header_dark_search.png) left center no-repeat 
    
    & input
      width 100%
      color white
      font-size 14px
      border-bottom 2px solid white
      
      &:-ms-input-placeholder
      &::-moz-placeholder
      &:-moz-placeholder
      &::-webkit-input-placeholder
        font-family FuturaPTBold
        font-size 10px
        color rgba(132, 148, 154, 0.5) 
        
  &_phone
    font-size 14px
    padding-left 25px
    margin-right 2.1%
    line-height 16px
    margin-top 22px
    background url(../../images/sprites/header_dark_phone.png) no-repeat
    
    &:hover
    &:active
      color color_green!important
      
    &:visited
      text-decoration none

  &_basket
    margin-top 17px
    padding-left 30px
    font-family FuturaPTMedium
    position relative
    background url(../../images/sprites/header_dark_basket.png) no-repeat
    margin-right 1.8%
    width 60px
    height 24px
    font-size 14px
    line-height 20px

    & span
      position relative
      line-height 27px

  &_menu
    position relative
    float left
    background url(../../images/sprites/header_dark_menu.png) no-repeat
    display inline-block
    margin-left 8%
    margin-top 22px
    width 15px
    height 13px
    
  &_user
    width 14px
    height 15px
    margin-top 22px
    position relative
    background url(../../images/sprites/header_dark_user.png) no-repeat
    position relative

  &_links
    margin-left 3%
    position relative
    float left
    letter-spasing 1px

    & li
      float left
      display inline-block
        
      
      & + li
        margin-left 40px

  &_logo
    width 169px
    height 51px
    background url(../../images/sprites/header_dark_logo.png) no-repeat
    background-size contain
    background-position center
    

  &_light
    color black
    
    & input
      color black
      border-bottom 2px solid black
    
    .header
      &_phone
        background url(../../images/sprites/header_phone.png) no-repeat
        
      &_basket
        background url(../../images/sprites/header_basket.png) no-repeat

      &_menu
        background url(../../images/sprites/header_menu.png) no-repeat
     
      &_user
        background url(../../images/sprites/header_user.png) no-repeat

      &_logo
        background url(../../images/sprites/header_logo.png) no-repeat
      
      &_search
        background url(../../images/sprites/header_search.png) left center no-repeat 
      
    & a
      color black
      
      &:not(.header_phone):hover
      &:not(.header_phone):active
      &:not(.header_phone):visited
        color black

    
            

    

@media (max-width: 1200px)
  .header
    font-size 12px

    &_search
      width 12%
      
    &_links li 
      & + li
        margin-left 20px

    &_menu
      margin-left 4%

    &_links
      margin-left 3.5%



@media (max-width: 768px)
  .header
    padding-top 50px
    &_logo
      width 103px
      
      height 31px
      background url(../../images/sprites/mobile_header_dark_logo.png) no-repeat
      background-size contain
      
    &_menu
      margin-top 18px
      margin-left 9%
      background-size contain
      float right!important
      width 18px
      height 14px
      background url(../../images/sprites/mobile_header_dark_menu.png) no-repeat
      background-size contain
      
    &_user
      margin-top 18px
      margin-left 6%
      width 14px
      background-size contain
      height 15px
      background url(../../images/sprites/mobile_header_dark_user.png) no-repeat
      background-size contain
      
    &_basket
      background-size contain
      margin-top 18px
      padding-left 21px
      height 14px
      width 17px
      background url(../../images/sprites/mobile_header_dark_basket.png) no-repeat
      background-size contain
      
      & span
        font-family FuturaPTBook
        font-size 13px
        float left
        line-height 17px
      
    &_light
      .header
        &_logo
          background url(../../images/sprites/mobile_header_logo.png) no-repeat
          
        &_menu
          background url(../../images/sprites/mobile_header_menu.png) no-repeat
          
        &_user
          background url(../../images/sprites/mobile_header_user.png) no-repeat
          
        &_basket
          background url(../../images/sprites/mobile_header_basket.png) no-repeat
   