@import '../sprite.styl'
@import '../variables.styl'

.header
  position absolute
  width 100%
  top 0px
  font-size 13px
  z-index 10
  color white
  transform scaleY(1.0038)
  padding-top 50px
  font-family FuturaPTBold
  text-transform uppercase
  -webkit-transform: inherit
  
  &_home
    visibility hidden
    opacity 0
    z-index -10!important
    transition 150ms all ease-in
    &.active
      visibility visible
      z-index 1000!important
      opacity 1
  
  &_enter
    cursor pointer
  
  &.fixed
    position fixed
    background rgba(0,0,0,0.8)
    padding-top 15px
    padding-bottom 15px
    z-index: 101
  
  
  &_recall
    overflow hidden
    z-index -1
    height 100vh
    position fixed
    top 0px
    right 0px
    background: -webkit-linear-gradient(144deg, #59a1ad 31%, #98c04d 69%)
    background: -moz-linear-gradient(144deg, #59a1ad 31%, #98c04d 69%)
    background: -o-linear-gradient(144deg, #59a1ad 31%, #98c04d 69%)
    background: -ms-linear-gradient(144deg, #59a1ad 31%, #98c04d 69%)
    background: linear-gradient(-54deg, #59a1ad 31%, #98c04d 69%)
    box-shadow: 0px 9px 32px 0px rgba(0, 0, 0, 0.46)
    
    &_close
      position absolute
      background url(../../images/sprites/item_gor_remove.png) left center no-repeat 
      width 14px
      height 14px
      right 30px
      top 30px
      z-index 2
      cursor pointer

    
    .btn
      color color_green
      height 40px
      font-size 13px
      
      &:hover
      &:active
        color black
  
    &_questions
      text-transform none
      color #000000
      font-family FuturaPTBold
      float left
      position relative
      font-size 20px
      line-height 28px

    &_phone
      color black!important
      font-family FuturaPTMedium!important
      font-size 16px!important
      display block
      float left
      position relative
      margin-top 10px
      line-height 20px
    
      &_input
        background-image none
        font-size 16px
        font-family FuturaPTBook
        margin-bottom: 10px
        float: left
        position: relative
        
        &.placeholder
          font-size 16px
          font-family FuturaPTBook

    &.active
      top 0px
      
    & .dropdown_block
      position relative
      width auto
      padding-left 50px
      padding-right 20px
      max-width 280px
      min-height 70px
      
      &.phone
        margin-top 30px
        
      &.more
        margin-top 50px

      & .dropdown
        width 100%
        top 15px
        position absolute
        left 50px
        
        &-menu 
          & li
            padding-bottom 4px
            & a
              color black
              text-transform none
          
        & .btn.btn-default.dropdown-toggle .caret
          position absolute
          right 4px
          top 12px
        
        & .btn.btn-default.dropdown-toggle
          position relative
          transition none
          left -4px
          padding-left 4px
          height 36px
          padding-right 4px
          font-size 16px
          text-transform none
          width: auto
          border-bottom: 1px solid black!important
          margin-bottom: 1px
          color black
          min-width 210px
          font-family FuturaPTMedium
          
          & span
            &:first-child
              padding-right 5px

          &:hover
          &:active
            color color_black
            
        &.open
          z-index 2
          left 30px
          width auto
          
          & .btn.btn-default.dropdown-toggle
            padding-right 20px
            border-bottom none!important
            padding-left 20px
          
      
      
    &_dropdowns
      padding-top 150px

    &_header
      float left
      position relative
      clear both
      color black
      font-size 16px
      font-family FuturaPTBold
      line-height: 20px
      display: block
      text-transform: none
      width: 100%

  & div.container
    position relative
    z-index 2
  
  &_usermenu
    position absolute
    right 0px
    top 0px
    padding 30px
    max-width 90%
    z-index 100
    box-shadow: 0px 4.5px 15px 0px rgba(0, 0, 0, 0.46)
    width 250px
    background linear-gradient(-54deg, #59a1ad 12%, #98c04d 88%)
    
    &_link
      color black !important
      font-family FuturaPTBook!important
      font-size: 16px!important
      text-transform none
      clear left
      width 100%
      margin-top 24px
      display block
      position relative
      text-align left
      line-height 20px
      background none
      
      & + &
        margin-top 15px

    &_close
      position absolute
      width 14px
      z-index 20
      cursor pointer
      transition 150ms all ease-in
      height 14px
      right 30px
      top 30px
      background url(../../images/sprites/item_gor_remove.png) left center no-repeat 

      &:hover
      &:active
        opacity 0.8  
    
    & h3
      font-size: 16px
      line-height: 20px
      text-transform none
      font-family FuturaPTBold
  
  & a
    color white
    font-size 13px
    cursor pointer
    font-family FuturaPTBold
    
    &:not(.header_phone):hover
    &:not(.header_phone):active
    &:not(.header_phone):visited
    &:not(.header_phone):focus
      color white

  .container
    line-height 56px
    
  &_search
    margin-top 13px
    width 17%
    padding-left 30px
    margin-right 3.5%
    line-height 30px
    background url(../../images/sprites/header_dark_search.png) left center no-repeat 
    
    & input
      width 100%
      color white
      font-size 14px
      border-bottom 2px solid white
      height 30px
      
      &:-ms-input-placeholder
      &::-moz-placeholder
      &:-moz-placeholder
      &::-webkit-input-placeholder
        font-family FuturaPTBold
        font-size 10px
        color rgba(132, 148, 154, 0.5) 
        
  &_phone
    font-size 14px
    position relative
    padding-left 25px
    margin-right 2.1%
    line-height 16px
    margin-top 22px
    background url(../../images/sprites/header_dark_phone.png) no-repeat
    
    &:hover
    &:active
      color color_green!important
      
    &:visited
      text-decoration none

    &.black
      background url(../../images/sprites/header_phone.png) no-repeat
      color black
      &:active
      &:hover
        color black!important
        

  &_basket
    margin-top 17px
    padding-left 30px
    font-family FuturaPTMedium
    position relative
    background url(../../images/sprites/header_dark_basket.png) no-repeat
    width 60px
    height 24px
    font-size 14px
    line-height 20px
    transition none

    & span
      position relative
      line-height 27px
      
    &.black
      background url(../../images/sprites/header_basket_black.png)  left center no-repeat
      background-size 20px
      
      & span
        color black

  &_menu
    position relative
    float left
    background url(../../images/sprites/header_dark_menu.png) no-repeat
    display inline-block
    margin-left 8%
    margin-top 21px
    width 15px
    height 13px
    
  &_user
    margin-left 1.8%
    width 14px
    position relative
    height 15px
    margin-top 22px
    position relative
    background url(../../images/sprites/header_dark_user.png) no-repeat
    position relative
    
    &.black
      background url(../../images/sprites/header_user.png) no-repeat

  &_links
    margin-left 3%
    position relative
    float left
    letter-spasing 1px

    & li
      float left
      display inline-block
        
      
      & + li
        margin-left 40px

  &_logo
    width 169px
    height 51px
    background url(../../images/sprites/header_dark_logo.png) no-repeat
    background-size contain
    background-position center
    

  &_light:not(.fixed)
    color black
    
    & input
      color black
      border-bottom 2px solid black
    
    .header
      &_phone
        background url(../../images/sprites/header_phone.png) no-repeat
        
      &_basket
        background url(../../images/sprites/header_basket.png) no-repeat

      &_menu
        background url(../../images/sprites/header_menu.png) no-repeat
     
      &_user
        background url(../../images/sprites/header_user.png) no-repeat

      &_logo
        background url(../../images/sprites/header_logo.png) no-repeat
      
      &_search
        background url(../../images/sprites/header_search.png) left center no-repeat 
      
    & a
      color black
      
      &:not(.header_phone):hover
      &:not(.header_phone):active
      &:not(.header_phone):visited
        color black

    
            

    

@media (max-width: 1200px)
  .header
    font-size 12px

    &_search
      width 12%
      
    &_links li 
      & + li
        margin-left 20px

    &_menu
      margin-left 4%

    &_links
      margin-left 3.5%



@media (max-width: 768px)
  .header
    padding-top 30px
    z-index 3
    
    &_usermenu
      position fixed
      
      width 100vw
      height 100vh
      top 0px
      max-width 100%
      
      &_close
        right 25px
        top 35px


    &_logo
      width 109px
      height 32px
      background url(../../images/sprites/mobile_header_dark_logo.png) no-repeat
      background-size contain
      
    &_menu
      margin-top 12px
      margin-left 9%
      background-size contain
      float right!important
      width 18px
      height 14px
      background url(../../images/sprites/mobile_header_dark_menu.png) no-repeat
      background-size contain
      
    &_user
      margin-top 12px
      margin-left 10%
      width 14px
      background-size contain
      height 15px
      background url(../../images/sprites/mobile_header_dark_user.png) no-repeat
      background-size contain
      
    &_basket
      background-size contain
      margin-top 12px
      padding-left 21px
      height 14px
      width 17px
      background url(../../images/sprites/mobile_header_dark_basket.png) no-repeat
      background-size contain
          
      & span
        font-family FuturaPTBook
        font-size 13px
        float left
        line-height 17px
      


    &_light:not(.fixed)
      .header
        &_logo
          background url(../../images/sprites/mobile_header_logo.png) no-repeat
          background-size contain
          
        &_menu
          background url(../../images/sprites/mobile_header_menu.png) no-repeat
          background-size contain
          
        &_user
          background url(../../images/sprites/mobile_header_user.png) no-repeat
          background-size contain
          
        &_basket
          background url(../../images/sprites/mobile_header_basket.png) no-repeat
          background-size contain
   