@import '../variables.styl'

.home
  &_hidden
    display none

  &_header
    width 100%
    margin-top 0px
    height 100vh
    position fixed
    background url(../../images/home/home_background.png) no-repeat
    background-position center
    background-size cover
    
    & .container
      position relative
    
    &.normal
      position absolute
      
    &_down
      position absolute
      width 38px
      left 100px
      top 530px
      height 0px
      cursor pointer
      overflow hidden
      background url(../../images/home/home_down.png) no-repeat
      height 121px
      transition 600ms all ease-in
      opacity 1
      
      &:hover
        background url(../../images/home/home_down_hover.png) no-repeat


      &.active
        height 121px
        
        
        &:active
        &:hover
          opacity 0.7
          

    &_moon
    &_sun
      position absolute
      transform scale(0.7)

    &_moon 
      width 102px
      height 100px
      background url(../../images/home/moon.png) no-repeat
      
    &_sun
      width 186px
      z-index 1
      height 180px
      background url(../../images/home/sun.png) no-repeat

    &_text
      transition 100ms opacity ease-in
      z-index 2
      float left
      position relative
      width 280px
      padding 0px
      
      &.text3
        opacity 0.3
        position: absolute
        left: 140px

    & h2
      color white
      font-family FuturaPTMedium
      font-size 36px
      line-height 36px
      padding-bottom 18px

    & p
      color white
      opacity 0.7
      font-family LeksaPro
      font-size: 14px
      line-height 20px

  &_preferences
    position relative
    margin-top 0px
    padding-top 10px
    padding-bottom 70px
    
  
    
    & p
      margin-top 30px
      position relative
      float left
      clear left
      font-size 16px
      font-family LeksaPro
      color: #0c0c0c
      line-height 24px
      

    &_press
      margin-top 50px
      position relative
      
      & .home_preferences_title
        margin-top 80px
        position relative
        clear right
        float right
        
      & p
        font-size 16px
        line-height: 22px
        max-width 285px
      
      &_image
        position absolute
        width 256px
        right 70px
      
        height 334px
        background url(../../images/home/press.png) no-repeat
        
      &_speakers
        margin-top 30px
        z-index 2
        font-size: 24px
        font-family FuturaPTBold
        line-height 28px
        float right
        clear right
        position relative
        max-width 250px
      
    &_future
      top -50px
      
      &_button
        position relative
        float left
        clear left
        margin-top 140px
        
      &_button2
        display inline-block
        margin-top 30px
        
      &_button
      &_button2
        text-align left

        font-size: 24px
        background none
        color black
        font-family FuturaPTBold

      
      & .home_preferences_title
        font-size 32px
        line-height 34px


        &:before
          height 20%
          bottom 0px
          
      & p
        left 20px
        font-size 16px
        line-height 24px
        max-width 240px
      
    &_social
      
      & .home_preferences_title
        position relative
        margin-top 50px
      
        &:before
          bottom 0px
          height 25%
          
      & p
        margin-top 55px
        position relative
        float left
        clear left
        left 30px
        width 280px
        font-size 20px
        font-family FuturaPTBook
        line-height 28px
      
      &_image
        background url(../../images/home/social.png) no-repeat
        width 310px
        left 150px
        position absolute
        height 245px
      
    &_ecology
      top 165px
      padding-bottom 30px
      
      &_images
        width 100%
        margin-top 30px
        
        & img
          margin-left 30px

      & p
        font-size: 24px
        max-width 300px
        font-family FuturaPTBold
        color black
        
      & .home_preferences_title
        float right

    &_base
      top -100px
      
      & p
        max-width 178px
     
      
      &_image
        margin-top 45px
        position relative
        float left
        clear left
        width 233px
        height 159px
        background url(../../images/home/base.png) no-repeat
      

      .home_preferences_title
        color white
        
        & .greenlighted:before
          height 50%
          width 80%
          bottom 0px


    &_clients
      
      &_6500
        position relative
        float left
        font-size 90px
        clear left
        line-height 90px
        margin-top 40px
        font-family FuturaPTBook
        

      &_riteil
        position relative
        float left
        clear left
        margin-top 40px
        text-transform uppercase
        color: rgba(86, 85, 85, 0.7)
        font-size 13px
        padding-right 5px
        line-height 20px
        font-family FuturaPTBook
        
        & .adding
          &:before
            content '•'
            color color_green
        
      &_adds
        top 0px
        margin-top 0px
        max-width 180px
        position relative
        float left
        clear left
        font-size: 21px
        font-family FuturaPTBook
        line-height 25px

      &_image
        left 70px
        background url(../../images/home/6500.png) no-repeat
        top -40px
        position absolute
        width 310px
        height 294px
    
    &_title
      text-transform uppercase
      color black
      float left
      clear right
      font-size: 24px
      line-height 28px
      font-family FuturaPTBold
      
      &:before
        height 45%
        width 80%
    
    
  &_slider
    position relative
    overflow hidden
    
    & .slick
      &-prev
      &-next

        
        &:before
          display none
        
      &-next
        background url(../../../images/sprites/arrow_right.png) center no-repeat!important
        
        &.slick-disabled
          margin-top -12px
          transform rotate(180deg)!important
          background url(../../../images/sprites/arrow_left_disabled.png) center no-repeat!important
  
      &-prev
        z-index 50
        margin-top 0px
        transform rotate(180deg)!important
        right 28px!important
        background url(../../../images/sprites/arrow_right.png) center no-repeat!important
        
        &.slick-disabled
          transform none!important
          background url(../../../images/sprites/arrow_left_disabled.png) center no-repeat!important
    
    .catalog_header_slider_loadmore
      color black
    

    .catalog_header_slider
      padding-top 20px 
    
    & .catalog
      &_header
        &_slider
          z-index 100
          &_item
            
            &_image
              cursor pointer

            &_count
              color #84949a

            &_title
              color black
              cursor pointer
              
              &:hover
              &:active
                color color_green

  &_main
    
    background #fafafa url(../../images/home/home_bg.png) center 40px no-repeat
    z-index 2
    top 100vh
    top 1000px
    position relative
    width 100%
    
    &_header
      display none

@media (max-width: 1300px)
  .home
    &_header  
      &_down
        left 50px
        
@media (max-width: 1200px)
  .home

    &_header
      &_text
        &_2
          width 230px

    &_preferences
      
      &_base p
        max-width 260px
      &_clients
        top 0px
        
      &_press
        
        
        &_image
          left 0px
          right inherit
          
        &_speakers  
        & .home_preferences_title
          float left
          clear left
          left 70px
          
      &_future
        padding-top 50px
        top 0px
        clear left
        padding-bottom 65px

      &_ecology
        top 0px
        padding-bottom 50px
        
        & .home_preferences_title
          float left


@media (max-width: 992px)
  .home
    &_header
      &_text
        max-width 210px
        
    &_preferences
      &_clients
        overflow hidden
        &_image
          
          z-index -1
          
      &_social
        overflow hidden