@import '../variables.styl'

.interesed
  overflow visible
  h2
    max-width 500px
    padding-bottom 60px

.item
  margin-bottom 10px
  width 254px
  max-width 254px
  position relative
  float left
  width 100%
  margin-top 20px
  top 0px
  transition 150ms all ease-in
  cursor pointer
  min-height 450px
  
  &_nopadding
    & .col20-lg-4
      padding-left 0px
      padding-right 0px
  
  &_hide
    &_gor
      display none

  &_under
    position relative
    padding 24px
    min-height 450px
    width 100%
    box-shadow 0px 10px 46px 0px rgba(0, 0, 0, 0.05)
    border 2px solid #fafafa
    background-color #ffffff

  &_slide
    float left
    margin-right 2px
    position relative
    min-height 500px
    
  
  &_vendorcode
    font-family FuturaPTBook
    color color_gray
    clear left
    font-size 14px
    float left
    line-height 30px 
    
  &_eco
    width 22px
    height 32px
    background url(../../../images/sprites/item_eco.png) no-repeat

  &_title
    margin-top 10px
    line-height 22px
    color black
    font-family FuturaPTHeavy
    font-size 18px
    float left
    
    &.hover
      display none
    
    &:hover
    &:active
      color color_green

  &_bottom
    transition 150ms all ease-in 
    position absolute
    padding-top 40px
    bottom 25px
    
  &_discount
    float left 
    clear left
    font-family FuturaPTBold
    text-decoration line-through
    line-height 24px
    font-size 16px
    
  &_desription
    margin-top 5px
    line-height 20px
    font-size 16px
    margin-top 60px
    clear left
    height 0px
    overflow hidden

    &_value
      font-family FuturaPTBook      

    &_title
      font-family FuturaPTHeavy
      

  &_order
    width 100%
    height 0px
    overflow hidden
    margin-top 40px
    position relative
    background transition
    

    
    &_body
      width 100%
      float left
      background #f0f0f0
      
    & button
      background transparent
      float left
      padding-left 8px
      padding-right 8px
      
    &_button
      text-transform uppercase
      line-height 40px
      color white
      width calc(100% - 70px)
      float right!important
      padding-top 0px
      font-size 12px!important
      font-family FuturaPTBold
      background color_green!important
      transition 150ms all ease-in
      
      &:hover
        background #98c04d!important
        background: -webkit-linear-gradient(180deg, #59a1ad 0%, #98c04d 100%)!important
        background: -moz-linear-gradient(180deg, #59a1ad 0%, #98c04d 100%)!important
        background: -o-linear-gradient(180deg, #59a1ad 0%, #98c04d 100%)!important
        background: -ms-linear-gradient(180deg, #59a1ad 0%, #98c04d 100%)!important
        background-image: linear-gradient(-90deg, #59a1ad 0%, #98c04d 100%)!important
      
    & input
      float left
      width 20px
      text-align center
      line-height 40px
      font-family FuturaPTHeavy
      font-size 16px
      
    &_minus
    &_plus
      font-family FuturaPTHeavy
      font-size 20px
      line-height 40px
    
    &_buttons
      & button
        background transparent
        line-height 22px
        font-family FuturaPTBold
        font-size 10px
        padding 0px 9px 
        
        &.active
          background #f0f0f0

  &_cost
    top 436px
    font-family FuturaPTBold
    color black
    line-height 30px
    font-size 24px
    float left
    clear left
    
    &_description
      float left
      clear left
      color color_gray

  &_new
    position absolute
    bottom -10px
    left 0px  
    font-family FuturaPTHeavy
    font-size 10px
    line-height 22px
    text-transform uppercase  
    
    color transparent!important
    -webkit-background-clip text
    background-clip text
    background-image: -webkit-linear-gradient(180deg, #4d9bc0 0%, #98c04d 100%)
    background-image: -moz-linear-gradient(180deg, #4d9bc0 0%, #98c04d 100%)
    background-image: -o-linear-gradient(180deg, #4d9bc0 0%, #98c04d 100%)
    background-image: -ms-linear-gradient(180deg, #4d9bc0 0%, #98c04d 100%)
    background-image: linear-gradient(-90deg, #4d9bc0 0%, #98c04d 100%)

  &_image
    position relative
    margin-top 30px
    height 160px
    width 100%
    background-position center
    background-repeat no-repeat
    
    &_block
      position relative
  
  &_love
    transition 150ms all ease-in
    width 24px
    height 21px
    background url(../../../images/sprites/item_heart_empty.png) no-repeat
    
    &:hover
      opacity 0.5
      background url(../../../images/sprites/item_heart_true.png) no-repeat
      
    &.active
      background url(../../../images/sprites/item_heart_true.png) no-repeat!important
  
  &:hover
  &:active
    
    z-index 1
    
    left 0px
    width 100%
    
    
    
    .item
      overflow visible

      &_under
        position absolute
        top -15px
        right 0px
        width 100%
        box-shadow: 0px 10px 46px 0px rgba(0, 0, 0, 0.15)
        
      &_order
        height auto

      &_bottom
        bottom inherit
        position relative
        padding-top 40px
        clear left
        
      &_desription
        height auto
        opacity 1
        
      &_title
        display none
        &.hover
          display block

      &_cost
        &_description
          display none

      &_love
        background url(../../../images/sprites/item_heart_empty_hover.png) no-repeat
        &:hover
          opacity 0.5
          background url(../../../images/sprites/item_heart_true.png) no-repeat
          

  &_gor
    .item
      margin-top 0px
      margin-bottom 0px
      width 100%
      max-width 10000px
      min-width 0px
      min-height 213px
      
      &_eco
        position absolute
        right 25px
      
      &_hide
        &_gor
          display block
      
      &_new
        display none


      &_body
        position relative
        float left


      &_bottom
        float right
        transition none
        padding-top 64px
        margin-right 70px


      &_discount
        position absolute
        right calc(100% + 15px)
        line-height 30px
        white-space nowrap

      &_cost
        clear none
        float right
        
        &_description
          position absolute
          width 150px
          text-align right
          right 0px
          top 100px
          clear both
          float right
        //  display none
      
      &_title
        margin-top 40px
        
      &_vendorcode
        margin-top 15px
      
      &_desription
        display none
        
      &_dropdown
        clear right
        margin-right 8%
        float left
        clear none
        margin-top 35px
        

      &_order
        display block
        float left
        margin-top 33px
        margin-left 7%
        width 15%
        

        &_button
          display none
          width 128px
          position absolute
          width: 130px
          right: -20px
          top: 101px

        &_body
          width 150px
          clear left
          text-align center
            
          & button
            text-align center
            width 30px
            float none
            background none

          & input
            float none
            font-family FuturaPTHeavy
            line-height 40px
            text-align center
            width 40px
      
      &_title
        &_block
          float left
          max-width 30%
          
      &_bottom
        position relative
      
      &_image
        float left
        width 200px
        margin-top 0px
        background-position center center
        max-width 250px
        
        &_block
          float left
      
      &_under
        min-height 210px

      &:hover
      &:active
        .item          
          &_under
            top 0px
            left -15px
            right -15px
            width calc(100% + 30px)

          &_bottom
            transition none!important
            clear none
            padding-top 40px
            
          &_cost
            &_description
              display block
              top 70px
            
          &_order
            &_button
              display block

    &.address
      position relative
      
      .item
        min-height 144px
        
        &:hover
        &:active
          .item
            &_title
              display block

        &_under
          padding 30px
          min-height 144px
          
        &_title
          color: #000000
          clear right
          margin-top 0px
          font-size 24px
          font-family FuturaPTHeavy
        
        &_address
          margin-top 17px
          font-size: 16px
          clear left
          float left
          font-family FuturaPTBook
          line-height: 20px
          
          &_links
            float left
            position absolute
            bottom 30px
            margin-top px
            clear left
            display none
            
            & a
            & button
              background none
              color: #000000
              font-family FuturaPTBook
              font-size 18px
              margin-right 30px

      &:hover
        .item
          &_under
            top 0px
            min-height 170px
            left -15px
            width calc(100% + 30px)
            right -15px
          &_address
            &_links
              display block
              
      &.edit
        .item
          min-height 242px
          
          input 
            font-size 16px
            
            
            & + input
              margin-top 20px
          
          button
            margin-left 20px
            margin-top 40px
            padding-left 21px
            padding-right 21px

          &_under
            min-height 242px
 
  &_orderblock
    width 32%
    min-height 140px
    float left
    height 100%
    position relative
    font-family FuturaPTBook
    
    
    &_category
      margin-top 5px
      color color_gray_more
      font-size: 14px
      line-height 18px
      clear left
      float left
      font-family FuturaPTBook
      
      
    &_address
      white-space nowrap
      position absolute
      bottom 45px
      left 0px
      font-size: 14px
      font-family FuturaPTBook
    
    &_date
    &_cost
    &_status
      &block
        float left
        width 21%
    
    &_status
      &block
        width 10%
        
    &_date
      font-size: 18px
      font-family FuturaPTHeavy
      line-height 22px
      text-transform lowercase
      
    &_cost
      font-family FuturaPTHeavy
      font-size: 24px
      float left
      clear left
      line-height 24px

    &_vendors
      font-size: 14px
      line-height 24px
      font-family FuturaPTBook
      clear left
      float left
      
    &_status
      position relative
      font-family FuturaPTBook
      line-height 22px
      font-size: 16px
      white-space nowrap
      
      &:before
        display block
        position absolute
        content '•'
        left -22px
        top 0px
        font-size 20px

      &.active
        &:before
          color #ffda46
      
      &.ready
        &:before
          color #3de041
          
    &_refresh
    &_edit
    &_remove
      clear left
      float right
      width 14px
      height 14px
      margin-left 20px
      transition 150ms all ease-in
      opacity 1
      
      &:hover
        opacity 0.7
      
    &_refresh
      background url(../../../images/sprites/profile_refresh.png) left center no-repeat

    &_edit
      display none
      background url(../../../images/sprites/profile_edit.png) left center no-repeat
      
      &block
        float right

    &_remove
      display none
      background url(../../../images/sprites/profile_remove.png) left center no-repeat

    &_title
      font-size 18px
      font-family FuturaPTHeavy
      line-height 22px
      color black 
      
      &:hover
        color color_green            
    
  &_message
    
    &_remove
      position absolute
      right 30px
      top 30px
      width 14px
      height 14px
      background url(../../../images/sprites/profile_remove.png) left center no-repeat
      transition 150ms all ease-in
      opacity 1
      
      &:hover
        opacity 0.7
        
    &_date
      float left
      clear left
      margin-top 13px
      color color_gray_more
      font-size: 14px
      font-family FuturaPTBook
    
    &_title
      font-size: 18px
      max-width 85%
      display block
      font-family FuturaPTBook
      line-height 24px
      color black

    &.item_gor
      & .item
        min-height 148px
        &_under
          min-height 148px
          padding 30px
          padding-top 25px
          padding-bottom 25px

  &_cart
    
    &:not(.item_gor) .item
      &_order
        float left
        margin-top 10px
        
        &_minus
        &_plus
          width 40px
          padding-left 15px
          padding-right 15px
          display block
          text-align center
          
        &_plus
          float right
          
        & input
          float none
          display inline
          text-align center

    &.item_gor
    
      & .item
        
        &_cost
          &_description
            top 110px

        &_image
          width 150px
          
        &_dropdown
          position absolute
          
        &_order
          display none

          &_body
            margin-top: 45px
            clear none
            margin-right 100px

          
          &_buttons
            overflow hidden
            background white
            
            & button.active
              background #f0f0f0

          &_body
            width 113px
            
            & button
              
              width auto
              
        &_bottom
          padding-top 84px
          margin-right 60px

        &_cart
          
          &_count
            font-size 16px
            font-family FuturaPTHeavy
            line-height 22px
            color: #000000
          
          &_remove
              
            float right
            margin-right 20px
            margin-top: 67px
            width 14px
            height 14px
            background url(../../../images/sprites/item_gor_remove.png) center no-repeat
            opacity 1
            transition 150ms all ease-in

            &:hover
              background url(../../../images/sprites/item_gor_remove_hover.png) center no-repeat
            

            
          &_buttonbody
            float left
            width 100%
            background #F0F0F3
            
            & button
              line-height 30px
              width 30px
              
            & input
              line-height 30px
              
          &_buttoninput
            display inline-block
            
        &:hover
          & .item
            
            &_cost
              &_description
                top 85px

            &_bottom
              padding-top 60px

  &_orderitem
    
    &.item_gor
      margin-top 30px
    
      & .item
        min-height 177px
        font-family FuturaPTBook
        
        &_under
          padding 35px
          min-height 173px
          
        &:hover
          .item
            
            &_orderblock
            
              &_edit
              &_remove
                display block

            &_under
              padding 35px
              height 170px
              top 0px




@media (max-width: 1300px)
  .item
    &_gor
      .item
        
        &_title
          &_block
            max-width 250px

        &_image
          width 150px


@media (max-width: 1300px)
  .item
    &_gor
      .item
        
        &_bottom
          margin-right 15px
        
        &_title
          &_block
            max-width 200px

        &_image
          width 150px
          
@media (max-width: 768px)

  .item
    transition none!important
    position relative
    float none
    max-width 1000px
    margin-bottom 20px
    margin-top 20px
    width calc(100vw - 75px)
    

    &_under
      min-height 470px
      padding 30px
      top 0px  
    
    &:hover
    &:active
      top 0px
      position relative
      width calc(100vw - 75px)
      
     .item 
        &_under
          top 0px!important
          
        &_bottom
          padding-top 10px!important


    &_love
      width 24px
      height 24px
      background-size contain!important

    &_slide
      min-height 1000px
      margin-right 10px
    
    
    &_vendorcode
      margin-top 10px
      font-size: 14px

      
    &_eco
      width 18px
      height 31px
      background-size contain

    &_title 
      margin-top 20px
      line-height 18px
      color black
      font-size: 18px
      

    &_bottom
      position absolute
      padding-top 30px
      bottom 30px
      
    &_discount
      font-size 18px
      
    &_desription
      margin-top 5px
      line-height 20px
      font-size 16px
      margin-top 60px
  
    &_order
      width 100%
      height 0px
      overflow hidden
      margin-top 25px
      position relative
      background transition
      
        
      & button
        background transparent
        float left
        padding-left 10px
        padding-right 10px
        
      &_button
        text-transform uppercase
        line-height 40px
        color white
        padding-right inherit!important
        padding-left inherit!important
        float right!important
        padding-top 0px
        font-size 12px!important
        font-family FuturaPTBold
        background color_green!important
        transition 150ms all ease-in
        width calc(100% - 80px)
        
      & input
        float left
        width 40px
        text-align center
        line-height 40px
        font-family FuturaPTHeavy
        font-size 16px
        
      &_minus
      &_plus
        font-family FuturaPTHeavy
        font-size 20px
        line-height 40px
      
      &_buttons
        & button
          background transparent
          line-height 22px
          font-family FuturaPTBold
          font-size 10px
          padding 5px 19px 
          
          &.active
            background #f0f0f0

    &_cost
      font-size 24px
      
      &_description
        font-size 12px
        margin-top 10px

    &_new
      bottom -20px
      font-size: 10px
      
    &_image
      background-size contain
      margin-top 60px
      height 150px
      width 100%
      
@media (max-width: 550px)
  .item

    &_order
      
    
      input
        float none
        margin 0 auto
        display inline
        
      &_body
        text-align center
        button
          padding-left 30px
          padding-right 30px
      

      &_plus
        float right!important
      &_button
        width 100%!important
        float left!important
        



.readyset
.interesed.buytoo
  h2
    font-size: 56px
    padding-bottom 20px
    
  & .col20-lg-4
    padding-left 0px
    padding-right 0px

   
@media (max-width: 768px)
  .readyset h2
  .interesed.buytoo h2
    font-size: 27px
    line-height 30px
    
  .interesed
    h2
      line-height 34px
      font-size 30px