.item
  position relative
  padding 24px
  transiton 150ms all ease-in
  cursor pointer
  height 300px
  box-shadow: 0px 10px 46px 0px rgba(0, 0, 0, 0.05)
  //box-shadow: -1px 2px 13px 5px rgba(0, 0, 0, 0.15)
  border 2px solid #fafafa
  background-color #ffffff
  
  &_love
    transiton 150ms all ease-in
    width 24px
    height 21px
    background url(../../../images/sprites/item_heart_empty.png) no-repeat
    
    &:hover
      opacity 0.5
      background url(../../../images/sprites/item_heart_true.png) no-repeat
      
    &.active
      background url(../../../images/sprites/item_heart_true.png) no-repeat!important
  
  &:hover
    top -15px
    box-shadow: 0px 10px 46px 0px rgba(0, 0, 0, 0.15)
    
    .item
      &_love
        background url(../../../images/sprites/item_heart_empty_hover.png) no-repeat
        &:hover
          opacity 0.5
          background url(../../../images/sprites/item_heart_true.png) no-repeat