@import '../sprite.styl'
@import '../variables.styl'

.login
  position fixed
  z-index 1500
  width 100%
  height 100vh
  
  &_opacity
    position absolute
    width 100%
    height 100%
    left 0px
    top 0px
    opacity 0.8
    background: -webkit-linear-gradient(144deg, #59a1ad 4%, #98c04d 96%)
    background: -moz-linear-gradient(144deg, #59a1ad 4%, #98c04d 96%)
    background: -o-linear-gradient(144deg, #59a1ad 4%, #98c04d 96%)
    background: -ms-linear-gradient(144deg, #59a1ad 4%, #98c04d 96%)
    background: linear-gradient(-54deg, #59a1ad 4%, #98c04d 96%)