@import '../sprite.styl'
@import '../variables.styl'

.menu
  position fixed
  top 0px
  left 0px
  overflow-x hidden
  z-index 1000
  width 100%
  height 100vh
  background rgba(255, 255, 255, 0.95)
  
  &_search
    padding 4px 8px
    padding-top 0px
    width 100%
    color black
    line-height 22px
    border-bottom 1px solid black
    font-size 21px
    font-family FuturaPTHeavy
    background url(../../../images/sprites/menu_search.png) calc(100% - 8px) center no-repeat  
    background-size 14px
  
    &.placeholder
      font-family FuturaPTHeavy
      font-size 21px
      color rgba(0,0,0, 0.3)
      
      
  &_showcategory
    width 16px
    height 14px
    position absolute
    right 15px
    top 21px
    background url(../../../images/sprites/menu_category.png) center left no-repeat
    background-size 16px 14px

  &_mobile
    position relative
    padding-top 90px
    padding-bottom 90px
  
    &_links
      width 100%
      position relative
      margin-top 40px
      & a
        line-height: 50px
        font-size 24px
        font-family FuturaPTMedium

  &_ul
    padding-top 10px
    padding-bottom 30px
    position relative
    float left
    & li
      padding-bottom 10px
      & + &
        margin-top 15px

      display inline-block
      clear left
      float left
      & a
        font-family LeksaPro
        font-size 14px
        line-height 24px
        
  &_overflow
    overflow hidden
    float left
    position relative
    width 100%

  &_close
    transition 150ms all ease-in
    position absolute
    width 20px
    height 19px
    right 37px
    top 37px
    cursor pointer
    z-index 2
    background url(../../../images/sprites/menu_close.png) center no-repeat  
    
    &:hover
      opacity 0.5

  &_green
  &_white
    height 100%
    
  &_block
    padding-left 100px
    padding-top 70px
    padding-bottom 70px
    
    & h2
      h3
      position relative
      padding-bottom 50px
    
  &_green
    position absolute
    right 0px
    padding-top 70px
    min-height 100%
    background color_green
    
    &>div
      padding-left 100px
      
  &_subcategory
    font-family FuturaPTMedium
    font-size: 20px
    padding-bottom 10px
    color black
    
  &_mainlink
    line-height 30px
    background transparent
    color: #000000
    font-size: 20px
    position relative
    width 100%
    font-family FuturaPTMedium
    display block
    clear left
    
    & span
      z-index 1
      position relative
    
    &.active
      &
        div
          display block
      
    &
      div
        z-index 0
        display none
        height 100%
        width 100%
        left 25px
        top 0px
        position absolute
        background color_green
    
    & + &
      margin-top 20px

@media (max-width: 1200px)
  .menu
    

    &_green
    &_white
      padding-left 50px
      
    &_green
      & > div
        padding-left 0px 


@media (max-width: 991px)
  .menu

      
    h2
      color: #000000
      font-size: 48px

   
    &_block
    &_green
      padding-top 60px
      padding-left 50px
    
    
@media (max-width:768px)
  .menu
    background linear-gradient(0deg, #59a1ad 0%, #98c04d 100%)
    
    & .btn
      & + .btn
        margin-top 30px
        
    &_write
      margin-top 20px   
    
    h2
    h3
      padding-bottom 20px
      font-size 24px

    h3
      left -15px
      font-size: 24px
      padding-bottom 20px
      font-family FuturaPTHeavy
      
    &_ul 
      left -15px
      position relative
      padding-top 7px
      padding-bottom 10px
      
      & li 
        padding-bottom 5px
        & a
          font-size: 15px
      
    &_subcategory
      font-size: 15px
      line-height 26px
      left -15px
      font-family FuturaPTBold
      position relative

    &_mainlink.active 
      div
        display none
        
    &_mainlink
      font-size 20px
      
      & + &
        margin-top 12px
        
    &_block
      &.notactive
        display none
        
    &_dropdowns
      position relative
      margin-top 60px
      
      & .dropdown_block
        width 100%
        min-height 38px
        position relative
        margin-top 10px
        
        & .dropdown
          width 100%
          position absolute
          padding-bottom 5px
          line-height 16px
          border-bottom 1px solid black
          
          &-menu li
            padding-bottom 0px
       
          & .btn.btn-default.dropdown-toggle
            padding-bottom 0px
            padding-top 0px
            padding-left 5px
            padding-right 5px
            width 100%
            height 20px
            font-size 16px
            font-family FuturaPTMedium
            
            & span:first-child
              padding-right 14px
            
            &:hover
            &:active
              color black
            
          &.open
            background white
            z-index 2
            border-bottom 0px
            
            & .btn.btn-default.dropdown-toggle
              padding-top 10px
              padding-left 20px
              font-size 14px
              font-family FuturaPTMedium!important
              padding-bottom 10px
              height inherit
              
              & span.caret
                margin-right 10px
      
    &_phone
      font-family FuturaPTHeavy
      line-height 23px
      width auto
      clear both
      font-size 20px
      position relative
      display block
      margin-bottom 30px
      
    &_call
      margin-top 40px
        
    &_prev
      width 10px
      height 16px
      position absolute
      left -10px
      top 6px
      background url(../../../images/sprites/mobile_menu_left.png) center no-repeat  
      background-size contain
   
    & h2
      position relative
      & .menu
        &_prev
          left -26px
          top 12px   

    &_close
      top 46px
      z-index 20
      right 25px
      width 14px
      height 14px
      background url(../../../images/sprites/menu_close_mobile.png) center no-repeat  
      background-size contain
      
    &_block
    &_green
      padding-left 40px
      padding-top 30px

    &_green
      min-height 100vh
      
      & > div
        float left
        position relative

      &.active
        float left
        background linear-gradient(0deg, #59a1ad 0%, #98c04d 100%)  
        position relative
        z-index 4
        width 100%
        top 0px
        left 0px
        padding-top 35px
        right inherit