

.modal-dialog
  display: inline-block
  text-align: left
  vertical-align: middle

.form-horizontal .control-label
  font-family FuturaPTMedium

legend
  font-family FuturaPTBold
  color black
  border none
  margin-bottom 30px
  text-transform: uppercase



.contact
  &_close
    width 14px
    height 14px
    position: absolute
    right: 25px
    top: 40px
    background url(../../../images/sprites/profile_remove.png) left center no-repeat
    transition 150ms all ease-in


    &:hover
    &:active
      opacity 0.7

.modal
  
  & .button
    padding-left 25px
    padding-right 25px

  &-backdrop
    background: -webkit-linear-gradient(144deg, #59a1ad 4%, #98c04d 96%)
    background: -moz-linear-gradient(144deg, #59a1ad 4%, #98c04d 96%)
    background: -o-linear-gradient(144deg, #59a1ad 4%, #98c04d 96%)
    background: -ms-linear-gradient(144deg, #59a1ad 4%, #98c04d 96%)
    background: linear-gradient(-54deg, #59a1ad 4%, #98c04d 96%)
    
    &.in
      opacity 0.95
      
  &-content
    background none
    box-shadow none
    border none
    
.well
  &-sm
    border-radius 10px
    padding 25px
 
.modal
  &-sm
    width calc(100% - 30px) 

@media screen and (min-width : 768px)
  .modal:before 
    display: inline-block
    vertical-align: middle
    content: " "
    height: 100%
    
  .modal
    &-sm
      width 500px



  .modal
    text-align: center
