@import '../sprite.styl'
@import '../variables.styl'


.profile
  



  h1
    margin-top -30px
    color black
    font-size: 72px
    

  &_orders
    margin-top 45px
    
    &.zindex
      z-index -1
    &_top
      margin-top 60px

    &_title
      color: #000000
      font-size 16px
      font-family FuturaPTBold
    
    &_dropdown
      height 70px
      left -20px
      margin-top 5px
      position relative
    
      &_block
        position absolute
          
        & .btn.btn-default.dropdown-toggle
          width 100%
          text-transform none
          font-size: 18px

        & .dropdown
          width 100%

        & .btn.btn-default.dropdown-toggle .caret
          position absolute
          top: 15px

    &_datepicker
      
      &_reset
        & button
          font-size 18px
          line-height 22px
          background none
          margin-top 30px
          font-family FuturaPTMedium
      
      &_block
        width 100%
        float left
        clear left
        
        & + &
          margin-top 7px
      

      & .input-group
        float left
        
        &:after
          position absolute
          content ''
          right 5px
          top 12px
          color black
          display: inline-block
          width: 0
          height: 0
          margin-left: 2px
          vertical-align: middle
          border-top: 4px dashed
          border-top: 4px solid \9
          border-right: 4px solid transparent
          border-left: 4px solid transparent



      &_span
        width 15%
        line-height 29px
        float left
        font-size: 16px
        font-family FuturaPTBold

      & .form-control
        border-bottom 1px solid #e0e0e0!important
        background transparent
        border none
        color: #000000
        font-family FuturaPTBook
        box-shadow none
        height: 26px
        padding: 6px 6px
        
    &_block
      float left
      width 100%
      
      & + &
        margin-top 80px
    
  &_items
    padding-top 80px
    top -85px
    z-index 3
    position relative
    padding-bottom 10px
    margin-bottom -170px
    
    &_page
      .profile_items
        padding-bottom 100px

    &.zindex
      z-index -1
    
    &.special
      top -190px
      margin-bottom -240px
      padding-bottom 170px
    
    & .nav-tabs > li
    & .nav-tabs > li.active
      margin-left 65px
      margin-right 0px
    
    &_buyed
      position relative
      float right
      top -37px
      
      .dropdown
        float right
        
        & li.presentation
          padding-bottom 0px
        
        .btn.btn-default.dropdown-toggle
          font-size: 18px
          text-transform none
          line-height 20px
          font-family FuturaPTHeavy
          
          & .caret
            margin-top 10px
      
    &_search
      padding-top 16px
      margin-left 35px
      width 220px
      background url(../../../images/sprites/header_search.png)   no-repeat
      background-size 10px
      background-position calc(100% - 10px) 21px
      float right
      
      & input 
        transition 200ms all ease-in
        padding-left 7px
        padding-right 7px
        clear right
        color black
        font-size 12px
        padding-bottom 4px
        border-bottom 1px solid  rgba(132, 148, 154, 0.3)
        width 100%
        
        &:focus
        &:active
        &:hover
          border-bottom 1px solid  black
      

    
    &_panel
      padding-top 20px
    
    &_tabs
      padding-top 100px
      
      &.buyed
        padding-top 90px

  &_addresses
    float left
    position relative
    width 100%
    padding-top 15px
    



  &_right
    width 100%
    position relative
    float left
    display block
    padding 30px
    padding-bottom 40px
    
    &_button
      margin-top 10px
      font-size 14px
      text-transform uppercase
      color #000000
      font-family FuturaPTBold
      padding 14px 20px
      
      &_left
        background #f0f0f0
        
        &:hover
          color color_green
        
      &_right
        background  color_green
        color white
        
        &:hover
          background color_gradientleft
    
    &_workers
      margin-top 55px
    
    &_title
    
      font-size: 16px
      font-family FuturaPTBold
      line-height 24px
      color: #000000      
    
    & + &
      padding-top 0px

    & h2
      padding-bottom 0px
      font-size 24px
      font-family FuturaPTHeavy
      
    &_name
    &_job
      color black
      font-size 16px
      font-family FuturaPTBook
      clear left
      float left
      line-height 24px

    &_job
      color color_gray_more
      float left
      clear left
      padding-bottom 10px
      padding-top 5px

    &:before
      content ''
      z-index -1
      left 0px
      top 0px
      position absolute
      width 88px
      height 100%
      display block
      background #f0f0f0
        
      
    &_company
      padding-top 70px
      float left
      width 100%

      &_special
        
        & .col-xs-12 
          margin-top 20px
        
        &_title
          margin-top 0px!important
          font-family FuturaPTMedium!important
          float left
          clear right

        & span
          font-family FuturaPTMedium
          margin-top 0px
          float left
          
          & + span
            margin-top 5px    
            clear left
            float left  

      &_block
        cursor pointer
        width 100%
        border 2px solid #fafafa
        background-color: #ffffff
        padding 20px
        overflow hidden
        float left
        position relative
        
        &:before
          display block
          content ''
          position absolute
          top 20px
          width 30px
          height 30px
          right 20px
          background white url(../../../images/sprites/mobile_menu_left.png) center no-repeat
        
        &.active
          
          background-size 10px
          
          &:before
            transform rotate(270deg)
          
        
        & h3
          font-size 24px
          padding-right 30px
          text-transform none
          position relative
          
        & span
          position relative
          float left
          font-size 16px
          font-family FuturaPTBook
          line-height 20px
          margin-top 21px


      &_addblock
        background white
        padding 30px
        
        & .row
          margin-top 0px!important
          margin-bottom 20px
          

      & h2
        position relative
        color #000000
        font-size: 32px
        padding-bottom 20px
        font-family FuturaPTHeavy
        
      &_add
        float left
        background white
        border 2px solid #fafafa
        padding 15px
        width 100%
        padding-left 25px
        

        & button
          width 100%
          padding-left 25px
          background url(../../../images/sprites/profile_add.png) left center no-repeat 
          color #000000
          font-family FuturaPTMedium
          text-align left
          font-size: 18px

  &_block
    float left
    width 100%
    
    &_row
      float left
      clear left
      width 100%
    
    &+&
      margin-top 80px

    & h2
      font-size: 32px
      text-transform none
      padding-bottom 0px
     
    & .row
      line-height 24px 
      margin-top 30px
      &_nopadding
        margin-top 0px

    & .inputlabel
      padding-top 8px
      color: #000000
      line-height 24px
      font-size: 16px
      font-family FuturaPTHeavy
      
    & .spanlabel
      line-height 24px
      padding-top: 8px
      color: #000000
      font-size: 16px

    & textarea
      border 1px solid rgba(0, 0, 0, 0.1)
      max-width 380px
      min-height 100px

      &:focus
      &:hover
      &:active
        border 1px solid black      

    & textarea
    & input[type='text']
      background transparent
      resize none
      outline none
      padding-left 14px
      padding-right 14px
      color: #000000
      font-size: 18px
      background-position right center
      line-height 36px
      height 36px
      font-family FuturaPTBook
      width 100%
      transition 300ms all ease-in
      border-bottom 1px solid rgba(0, 0, 0, 0.1)
      
      & + span.error
        position absolute
        right 20px
        top 5px
        width 100%
        text-align right
        color #ee3330
        font-size: 14px
        font-family FuturaPTBook
        display none

      &:focus
      &:hover
      &:active
        border-bottom 1px solid black
        
      &.error
        border-bottom 1px solid #ee2e2c
        
        & + span.error
          display block
        
      &.email.ok
        background url(../../../images/sprites/input_ok.png) right center no-repeat 
              
    input
      &:-ms-input-placeholder
      &::-moz-placeholder
      &:-moz-placeholder
      &::-webkit-input-placeholder
        font-size 18px
        color rgba(0, 0, 0, 0.1)
        font-family Arial
        font-family FuturaPTBook


  &_settings
    margin-top 60px

  &_sets

    h1
      margin-top 0px
    
    & .row
      position relative
      
    &_create
    &_create_description
      position absolute
      right 90px
      width 200px
      top 40px
      font-size: 24px
      line-height 24px
      color black
      font-family FuturaPTHeavy
      
    &_create
      
      & .greenlighted:before
        left -7px
        width 100%
        bottom 0px
        height 8px
        
      &:hover .greenlighted:before
        left -7px
        width 100%
        height 20px

      &_description
        top 110px
        font-family FuturaPTBook
        color #84949a
        font-size 16px
 
    &_section
      margin-top 40px
      
      & h2 
        color black
        margin-bottom -30px
        font-size 32px

    &_white
      position absolute
      background white
      height 390px
      width 88.6%
      top -50px
      z-index -1
      right 0px
      
      &2
        position relative
        width 60%
        height 208px
        background white

    &_header
      padding-top 140px
      position relative
      
      &.zindex
        z-index -1
    
    &_popular
      float left
      position relative
      margin-top 75px
      color black
      font-size: 32px
      font-family FuturaPTHeavy
      
      &_block
        padding-top 35px
        width 100%
        float left
        position relative
        
  &_messages
    position relative
        
    &_lenght
      width 40px
      height 24px
      color black
      display block
      float left
      font-size: 18px
      color black
      top 7px
      z-index -1
      left -15px
      text-align right
      padding-right 9px
      font-family FuturaPTHeavy
      position relative
      background color_green
      
    &_new
      position relative
      background none
      color black
      line-height 30px
      font-size 18px
      font-family FuturaPTBold
      float right
      margin-top 17px

      &:before
        left -8px
        bottom 6px
        width 90%
    
    & a
      &:hover
      &:visited
      &:active
        color color_green
    
    & h2
      padding-bottom 25px
      float left
      font-size: 32px
      font-family FuturaPTHeavy
      color #000000
      
    &_input
      & input 
        height 30px!important
        font-size 16px!important
        line-height 30px!important
        padding-left 5px!important
        padding-right 5px!important
    

    &_callback
      font-family FuturaPTBold
      font-size 16px
      line-height 32px
      margin-top 60px
      float left
      padding-left 25px
      color black


    &_filelist
      float left
      width 100%
      clear left
      margin-top 20px
      & span
        float left
        font-size 14px
        font-family FuturaPTBook
        clear left

    &_append
      margin-top 25px
      float left
      clear left
      width 100%

    &_attach
      background url(../../../images/sprites/profile_attach.png)   no-repeat
      background-position left center
      line-height 40px
      padding-left 20px
      font-family FuturaPTBook
      font-size 16px

    &_send
      line-height: 40px
      font-family: FuturaPTBold
      color white
      transition: 150ms all ease-in
      padding-left: 18px
      padding-right: 18px
      text-transform uppercase
      font-size 12px
      background color_green

    &_checkbox
      clear left
      width 100%
      float left
      margin-top 20px
      
      & label
        opacity 1!important

      & span
        color black
        font-size: 16px
        margin-left 8px
        line-height 24px
        font-family FuturaPTBook

    &_textarea
      margin-top 26px
      
      & textarea
        font-size 16px
        border 1px solid rgba(0,0,0,0.1)
      
    &_block
      margin-top 60px
      width 100%
      float left
      background white
      border 2px solid #fafafa
      padding 25px 
      
      & .profile_orders_dropdown
        float left
        width 100%
        height 50px
        clear left
      
      & h2
        padding-bottom 0px
        font-size 16px
        line-height 26px
        color #000000
        font-family FuturaPTBold
  
@media(max-width: 992px)
  .profile
    
    &_block 
      & textarea
        max-width 1000px
        
    &_margin
      &_top
        margin-top 60px

@media(max-width: 768px)


  .profile
    
    .today_ecology_image
      top: -150px;
    
    &_items
      padding-top 45px
      
      &.special
        top -120px
        
        .padding_768
          display none

      &_buyed
        margin-top 15px
        float left
        top 0px
        

        & .dropdown
          float left
          margin-bottom 20px

      &_search
        width 100%
        float left
        margin-left 0px


    &_items .nav-tabs > li
    &_items .nav-tabs > li.active
      margin-left 0px
      margin-top 10px
      margin-right 25px
    
    
    &_messages
      &_new
        float left
        clear left
        margin-bottom 30px
        margin-top 6px
        line-height 20px
        
        &:before
          bottom 0px
    
    & h1
      font-size 36px
      line-height 50px

    &_sets 
      
      &_white2
        margin-bottom 40px
      

      &_create
      &_create_description
        right inherit
        left 45px  

      h1
        font-size 36px
        line-height 40px 
        
      &_header
        padding-top 100px
        
      &_popular
        font-size 20px
        line-height 26px
        margin-top: 25px