.sets
  &_header
    position relative
    
    & h1
      font-size: 72px
      color black
      display block
      max-width 700px
      float left
      
    & .ecocheckbox
      max-width 220px
      & label
        opacity 1
      &-text
        color black

    &_description
      color:  #0c0c0c
      font-size 21px
      line-height 32px
      max-width 490px
      position relative
      float left
      margin-top 20px
      display block
      font-family FuturaPTBook
      
  &_section
    overflow hidden