@import '../variables.styl'
.specialoffer
  position relative
  
  .row
    position relative

  
  h2
    padding-bottom 40px
    max-width 400px
    
  &_before
    background color_yellow
    position absolute
    width: 192px
    height: 384px
    left 0px
    z-index -1
    top 35px
      