@import '../sprite.styl'
@import '../variables.styl'

.subcategory

  &_section
    overflow hidden
    margin-bottom  -100px
  
  &_header
    &_consult
      color color_black
      font-size 12px
      text-transform uppercase
      line-height 24px
      font-family FuturaPTBold
      position relative
      float left
      margin-top 70px
      
      &_link
        font-family LeksaPro
        font-size 14px
        clear left
        position relative
        float left
        line-height 24px
        max-width 160px
        margin-top 7px
        
        &:hover
        &:active
          color color_green
      


  &_popular
    &_link
      position relative
      display block
      margin-top 45px
      font-family FuturaPTHeavy
      font-size 32px
      line-height 36px
      color rgba(0, 0, 0, 0.8)
      
      
      & a
        cursor pointer
        
@media (max-width: 991px)
  .subcategory
    &_popular
      &_link
        margin-bottom 40px
        
@media (max-width: 991px)
  .subcategory
    &_popular
      &_link
        font-size 18px
        margin-top 0px
        
    &_section
      overflow hidden 