@import '../sprite.styl'
@import '../variables.styl'

.subcategory

  &_section
    overflow hidden
    margin-bottom  -100px
  &_popular
    &_link
      position relative
      display block
      margin-top 45px
      font-family FuturaPTHeavy
      font-size 32px
      line-height 36px
      color rgba(0, 0, 0, 0.8)
      
      & a
        cursor pointer
        
@media (max-width: 991px)
  .subcategory
    &_popular
      &_link
        margin-bottom 40px
        
@media (max-width: 991px)
  .subcategory
    &_popular
      &_link
        font-size 18px
        margin-top 0px
        
    &_section
      overflow hidden 