/*
Stylus variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon_home_width;
}

The large array-like variables contain all information about a single icon
$icon_home = x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet = width height image $spritesheet_sprites;
*/
$frame_0_name = 'frame_0';
$frame_0_x = 1200px;
$frame_0_y = 0px;
$frame_0_offset_x = -1200px;
$frame_0_offset_y = 0px;
$frame_0_width = 1200px;
$frame_0_height = 900px;
$frame_0_total_width = 6000px;
$frame_0_total_height = 5400px;
$frame_0_image = '-sprite.png';
$frame_0 = 1200px 0px -1200px 0px 1200px 900px 6000px 5400px '-sprite.png' 'frame_0';
$frame_1_name = 'frame_1';
$frame_1_x = 3600px;
$frame_1_y = 2700px;
$frame_1_offset_x = -3600px;
$frame_1_offset_y = -2700px;
$frame_1_width = 1200px;
$frame_1_height = 900px;
$frame_1_total_width = 6000px;
$frame_1_total_height = 5400px;
$frame_1_image = '-sprite.png';
$frame_1 = 3600px 2700px -3600px -2700px 1200px 900px 6000px 5400px '-sprite.png' 'frame_1';
$frame_10_name = 'frame_10';
$frame_10_x = 0px;
$frame_10_y = 900px;
$frame_10_offset_x = 0px;
$frame_10_offset_y = -900px;
$frame_10_width = 1200px;
$frame_10_height = 900px;
$frame_10_total_width = 6000px;
$frame_10_total_height = 5400px;
$frame_10_image = '-sprite.png';
$frame_10 = 0px 900px 0px -900px 1200px 900px 6000px 5400px '-sprite.png' 'frame_10';
$frame_11_name = 'frame_11';
$frame_11_x = 1200px;
$frame_11_y = 900px;
$frame_11_offset_x = -1200px;
$frame_11_offset_y = -900px;
$frame_11_width = 1200px;
$frame_11_height = 900px;
$frame_11_total_width = 6000px;
$frame_11_total_height = 5400px;
$frame_11_image = '-sprite.png';
$frame_11 = 1200px 900px -1200px -900px 1200px 900px 6000px 5400px '-sprite.png' 'frame_11';
$frame_12_name = 'frame_12';
$frame_12_x = 2400px;
$frame_12_y = 0px;
$frame_12_offset_x = -2400px;
$frame_12_offset_y = 0px;
$frame_12_width = 1200px;
$frame_12_height = 900px;
$frame_12_total_width = 6000px;
$frame_12_total_height = 5400px;
$frame_12_image = '-sprite.png';
$frame_12 = 2400px 0px -2400px 0px 1200px 900px 6000px 5400px '-sprite.png' 'frame_12';
$frame_13_name = 'frame_13';
$frame_13_x = 2400px;
$frame_13_y = 900px;
$frame_13_offset_x = -2400px;
$frame_13_offset_y = -900px;
$frame_13_width = 1200px;
$frame_13_height = 900px;
$frame_13_total_width = 6000px;
$frame_13_total_height = 5400px;
$frame_13_image = '-sprite.png';
$frame_13 = 2400px 900px -2400px -900px 1200px 900px 6000px 5400px '-sprite.png' 'frame_13';
$frame_14_name = 'frame_14';
$frame_14_x = 0px;
$frame_14_y = 1800px;
$frame_14_offset_x = 0px;
$frame_14_offset_y = -1800px;
$frame_14_width = 1200px;
$frame_14_height = 900px;
$frame_14_total_width = 6000px;
$frame_14_total_height = 5400px;
$frame_14_image = '-sprite.png';
$frame_14 = 0px 1800px 0px -1800px 1200px 900px 6000px 5400px '-sprite.png' 'frame_14';
$frame_15_name = 'frame_15';
$frame_15_x = 1200px;
$frame_15_y = 1800px;
$frame_15_offset_x = -1200px;
$frame_15_offset_y = -1800px;
$frame_15_width = 1200px;
$frame_15_height = 900px;
$frame_15_total_width = 6000px;
$frame_15_total_height = 5400px;
$frame_15_image = '-sprite.png';
$frame_15 = 1200px 1800px -1200px -1800px 1200px 900px 6000px 5400px '-sprite.png' 'frame_15';
$frame_16_name = 'frame_16';
$frame_16_x = 2400px;
$frame_16_y = 1800px;
$frame_16_offset_x = -2400px;
$frame_16_offset_y = -1800px;
$frame_16_width = 1200px;
$frame_16_height = 900px;
$frame_16_total_width = 6000px;
$frame_16_total_height = 5400px;
$frame_16_image = '-sprite.png';
$frame_16 = 2400px 1800px -2400px -1800px 1200px 900px 6000px 5400px '-sprite.png' 'frame_16';
$frame_17_name = 'frame_17';
$frame_17_x = 0px;
$frame_17_y = 2700px;
$frame_17_offset_x = 0px;
$frame_17_offset_y = -2700px;
$frame_17_width = 1200px;
$frame_17_height = 900px;
$frame_17_total_width = 6000px;
$frame_17_total_height = 5400px;
$frame_17_image = '-sprite.png';
$frame_17 = 0px 2700px 0px -2700px 1200px 900px 6000px 5400px '-sprite.png' 'frame_17';
$frame_18_name = 'frame_18';
$frame_18_x = 1200px;
$frame_18_y = 2700px;
$frame_18_offset_x = -1200px;
$frame_18_offset_y = -2700px;
$frame_18_width = 1200px;
$frame_18_height = 900px;
$frame_18_total_width = 6000px;
$frame_18_total_height = 5400px;
$frame_18_image = '-sprite.png';
$frame_18 = 1200px 2700px -1200px -2700px 1200px 900px 6000px 5400px '-sprite.png' 'frame_18';
$frame_19_name = 'frame_19';
$frame_19_x = 2400px;
$frame_19_y = 2700px;
$frame_19_offset_x = -2400px;
$frame_19_offset_y = -2700px;
$frame_19_width = 1200px;
$frame_19_height = 900px;
$frame_19_total_width = 6000px;
$frame_19_total_height = 5400px;
$frame_19_image = '-sprite.png';
$frame_19 = 2400px 2700px -2400px -2700px 1200px 900px 6000px 5400px '-sprite.png' 'frame_19';
$frame_2_name = 'frame_2';
$frame_2_x = 3600px;
$frame_2_y = 0px;
$frame_2_offset_x = -3600px;
$frame_2_offset_y = 0px;
$frame_2_width = 1200px;
$frame_2_height = 900px;
$frame_2_total_width = 6000px;
$frame_2_total_height = 5400px;
$frame_2_image = '-sprite.png';
$frame_2 = 3600px 0px -3600px 0px 1200px 900px 6000px 5400px '-sprite.png' 'frame_2';
$frame_20_name = 'frame_20';
$frame_20_x = 3600px;
$frame_20_y = 900px;
$frame_20_offset_x = -3600px;
$frame_20_offset_y = -900px;
$frame_20_width = 1200px;
$frame_20_height = 900px;
$frame_20_total_width = 6000px;
$frame_20_total_height = 5400px;
$frame_20_image = '-sprite.png';
$frame_20 = 3600px 900px -3600px -900px 1200px 900px 6000px 5400px '-sprite.png' 'frame_20';
$frame_21_name = 'frame_21';
$frame_21_x = 3600px;
$frame_21_y = 1800px;
$frame_21_offset_x = -3600px;
$frame_21_offset_y = -1800px;
$frame_21_width = 1200px;
$frame_21_height = 900px;
$frame_21_total_width = 6000px;
$frame_21_total_height = 5400px;
$frame_21_image = '-sprite.png';
$frame_21 = 3600px 1800px -3600px -1800px 1200px 900px 6000px 5400px '-sprite.png' 'frame_21';
$frame_22_name = 'frame_22';
$frame_22_x = 0px;
$frame_22_y = 0px;
$frame_22_offset_x = 0px;
$frame_22_offset_y = 0px;
$frame_22_width = 1200px;
$frame_22_height = 900px;
$frame_22_total_width = 6000px;
$frame_22_total_height = 5400px;
$frame_22_image = '-sprite.png';
$frame_22 = 0px 0px 0px 0px 1200px 900px 6000px 5400px '-sprite.png' 'frame_22';
$frame_23_name = 'frame_23';
$frame_23_x = 0px;
$frame_23_y = 3600px;
$frame_23_offset_x = 0px;
$frame_23_offset_y = -3600px;
$frame_23_width = 1200px;
$frame_23_height = 900px;
$frame_23_total_width = 6000px;
$frame_23_total_height = 5400px;
$frame_23_image = '-sprite.png';
$frame_23 = 0px 3600px 0px -3600px 1200px 900px 6000px 5400px '-sprite.png' 'frame_23';
$frame_24_name = 'frame_24';
$frame_24_x = 1200px;
$frame_24_y = 3600px;
$frame_24_offset_x = -1200px;
$frame_24_offset_y = -3600px;
$frame_24_width = 1200px;
$frame_24_height = 900px;
$frame_24_total_width = 6000px;
$frame_24_total_height = 5400px;
$frame_24_image = '-sprite.png';
$frame_24 = 1200px 3600px -1200px -3600px 1200px 900px 6000px 5400px '-sprite.png' 'frame_24';
$frame_25_name = 'frame_25';
$frame_25_x = 2400px;
$frame_25_y = 3600px;
$frame_25_offset_x = -2400px;
$frame_25_offset_y = -3600px;
$frame_25_width = 1200px;
$frame_25_height = 900px;
$frame_25_total_width = 6000px;
$frame_25_total_height = 5400px;
$frame_25_image = '-sprite.png';
$frame_25 = 2400px 3600px -2400px -3600px 1200px 900px 6000px 5400px '-sprite.png' 'frame_25';
$frame_26_name = 'frame_26';
$frame_26_x = 3600px;
$frame_26_y = 3600px;
$frame_26_offset_x = -3600px;
$frame_26_offset_y = -3600px;
$frame_26_width = 1200px;
$frame_26_height = 900px;
$frame_26_total_width = 6000px;
$frame_26_total_height = 5400px;
$frame_26_image = '-sprite.png';
$frame_26 = 3600px 3600px -3600px -3600px 1200px 900px 6000px 5400px '-sprite.png' 'frame_26';
$frame_27_name = 'frame_27';
$frame_27_x = 4800px;
$frame_27_y = 0px;
$frame_27_offset_x = -4800px;
$frame_27_offset_y = 0px;
$frame_27_width = 1200px;
$frame_27_height = 900px;
$frame_27_total_width = 6000px;
$frame_27_total_height = 5400px;
$frame_27_image = '-sprite.png';
$frame_27 = 4800px 0px -4800px 0px 1200px 900px 6000px 5400px '-sprite.png' 'frame_27';
$frame_28_name = 'frame_28';
$frame_28_x = 4800px;
$frame_28_y = 900px;
$frame_28_offset_x = -4800px;
$frame_28_offset_y = -900px;
$frame_28_width = 1200px;
$frame_28_height = 900px;
$frame_28_total_width = 6000px;
$frame_28_total_height = 5400px;
$frame_28_image = '-sprite.png';
$frame_28 = 4800px 900px -4800px -900px 1200px 900px 6000px 5400px '-sprite.png' 'frame_28';
$frame_29_name = 'frame_29';
$frame_29_x = 4800px;
$frame_29_y = 1800px;
$frame_29_offset_x = -4800px;
$frame_29_offset_y = -1800px;
$frame_29_width = 1200px;
$frame_29_height = 900px;
$frame_29_total_width = 6000px;
$frame_29_total_height = 5400px;
$frame_29_image = '-sprite.png';
$frame_29 = 4800px 1800px -4800px -1800px 1200px 900px 6000px 5400px '-sprite.png' 'frame_29';
$frame_3_name = 'frame_3';
$frame_3_x = 4800px;
$frame_3_y = 2700px;
$frame_3_offset_x = -4800px;
$frame_3_offset_y = -2700px;
$frame_3_width = 1200px;
$frame_3_height = 900px;
$frame_3_total_width = 6000px;
$frame_3_total_height = 5400px;
$frame_3_image = '-sprite.png';
$frame_3 = 4800px 2700px -4800px -2700px 1200px 900px 6000px 5400px '-sprite.png' 'frame_3';
$frame_4_name = 'frame_4';
$frame_4_x = 4800px;
$frame_4_y = 3600px;
$frame_4_offset_x = -4800px;
$frame_4_offset_y = -3600px;
$frame_4_width = 1200px;
$frame_4_height = 900px;
$frame_4_total_width = 6000px;
$frame_4_total_height = 5400px;
$frame_4_image = '-sprite.png';
$frame_4 = 4800px 3600px -4800px -3600px 1200px 900px 6000px 5400px '-sprite.png' 'frame_4';
$frame_5_name = 'frame_5';
$frame_5_x = 0px;
$frame_5_y = 4500px;
$frame_5_offset_x = 0px;
$frame_5_offset_y = -4500px;
$frame_5_width = 1200px;
$frame_5_height = 900px;
$frame_5_total_width = 6000px;
$frame_5_total_height = 5400px;
$frame_5_image = '-sprite.png';
$frame_5 = 0px 4500px 0px -4500px 1200px 900px 6000px 5400px '-sprite.png' 'frame_5';
$frame_6_name = 'frame_6';
$frame_6_x = 1200px;
$frame_6_y = 4500px;
$frame_6_offset_x = -1200px;
$frame_6_offset_y = -4500px;
$frame_6_width = 1200px;
$frame_6_height = 900px;
$frame_6_total_width = 6000px;
$frame_6_total_height = 5400px;
$frame_6_image = '-sprite.png';
$frame_6 = 1200px 4500px -1200px -4500px 1200px 900px 6000px 5400px '-sprite.png' 'frame_6';
$frame_7_name = 'frame_7';
$frame_7_x = 2400px;
$frame_7_y = 4500px;
$frame_7_offset_x = -2400px;
$frame_7_offset_y = -4500px;
$frame_7_width = 1200px;
$frame_7_height = 900px;
$frame_7_total_width = 6000px;
$frame_7_total_height = 5400px;
$frame_7_image = '-sprite.png';
$frame_7 = 2400px 4500px -2400px -4500px 1200px 900px 6000px 5400px '-sprite.png' 'frame_7';
$frame_8_name = 'frame_8';
$frame_8_x = 3600px;
$frame_8_y = 4500px;
$frame_8_offset_x = -3600px;
$frame_8_offset_y = -4500px;
$frame_8_width = 1200px;
$frame_8_height = 900px;
$frame_8_total_width = 6000px;
$frame_8_total_height = 5400px;
$frame_8_image = '-sprite.png';
$frame_8 = 3600px 4500px -3600px -4500px 1200px 900px 6000px 5400px '-sprite.png' 'frame_8';
$frame_9_name = 'frame_9';
$frame_9_x = 4800px;
$frame_9_y = 4500px;
$frame_9_offset_x = -4800px;
$frame_9_offset_y = -4500px;
$frame_9_width = 1200px;
$frame_9_height = 900px;
$frame_9_total_width = 6000px;
$frame_9_total_height = 5400px;
$frame_9_image = '-sprite.png';
$frame_9 = 4800px 4500px -4800px -4500px 1200px 900px 6000px 5400px '-sprite.png' 'frame_9';
$spritesheet_width = 6000px;
$spritesheet_height = 5400px;
$spritesheet_image = '-sprite.png';
$spritesheet_sprites = $frame_0 $frame_1 $frame_10 $frame_11 $frame_12 $frame_13 $frame_14 $frame_15 $frame_16 $frame_17 $frame_18 $frame_19 $frame_2 $frame_20 $frame_21 $frame_22 $frame_23 $frame_24 $frame_25 $frame_26 $frame_27 $frame_28 $frame_29 $frame_3 $frame_4 $frame_5 $frame_6 $frame_7 $frame_8 $frame_9;
$spritesheet = 6000px 5400px '-sprite.png' $spritesheet_sprites;

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  spriteWidth($icon_home)
}

.icon-email {
  sprite($icon_email)
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
spriteWidth($sprite) {
  width: $sprite[4];
}

spriteHeight($sprite) {
  height: $sprite[5];
}

spritePosition($sprite) {
  background-position: $sprite[2] $sprite[3];
}

spriteImage($sprite) {
  background-image: url($sprite[8]);
}

sprite($sprite) {
  spriteImage($sprite)
  spritePosition($sprite)
  spriteWidth($sprite)
  spriteHeight($sprite)
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of Stylus

This must be run when you have at least 2 sprites.
  If run with a single sprite, then there will be reference errors.

sprites($spritesheet_sprites);
*/
sprites($sprites) {
  for $sprite in $sprites {
    $sprite_name = $sprite[9];
    .{$sprite_name} {
      sprite($sprite);
    }
  }
}
