/*
Stylus variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon_home_width;
}

The large array-like variables contain all information about a single icon
$icon_home = x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet = width height image $spritesheet_sprites;
*/
$arrow_left_disabled_name = 'arrow_left_disabled';
$arrow_left_disabled_x = 22px;
$arrow_left_disabled_y = 204px;
$arrow_left_disabled_offset_x = -22px;
$arrow_left_disabled_offset_y = -204px;
$arrow_left_disabled_width = 17px;
$arrow_left_disabled_height = 26px;
$arrow_left_disabled_total_width = 375px;
$arrow_left_disabled_total_height = 236px;
$arrow_left_disabled_image = '-sprite.png';
$arrow_left_disabled = 22px 204px -22px -204px 17px 26px 375px 236px '-sprite.png' 'arrow_left_disabled';
$arrow_right_name = 'arrow_right';
$arrow_right_x = 352px;
$arrow_right_y = 51px;
$arrow_right_offset_x = -352px;
$arrow_right_offset_y = -51px;
$arrow_right_width = 17px;
$arrow_right_height = 26px;
$arrow_right_total_width = 375px;
$arrow_right_total_height = 236px;
$arrow_right_image = '-sprite.png';
$arrow_right = 352px 51px -352px -51px 17px 26px 375px 236px '-sprite.png' 'arrow_right';
$caret_focus_name = 'caret_focus';
$caret_focus_x = 326px;
$caret_focus_y = 79px;
$caret_focus_offset_x = -326px;
$caret_focus_offset_y = -79px;
$caret_focus_width = 8px;
$caret_focus_height = 4px;
$caret_focus_total_width = 375px;
$caret_focus_total_height = 236px;
$caret_focus_image = '-sprite.png';
$caret_focus = 326px 79px -326px -79px 8px 4px 375px 236px '-sprite.png' 'caret_focus';
$caret_name = 'caret';
$caret_x = 318px;
$caret_y = 79px;
$caret_offset_x = -318px;
$caret_offset_y = -79px;
$caret_width = 8px;
$caret_height = 4px;
$caret_total_width = 375px;
$caret_total_height = 236px;
$caret_image = '-sprite.png';
$caret = 318px 79px -318px -79px 8px 4px 375px 236px '-sprite.png' 'caret';
$catalog_eco_name = 'catalog_eco';
$catalog_eco_x = 206px;
$catalog_eco_y = 103px;
$catalog_eco_offset_x = -206px;
$catalog_eco_offset_y = -103px;
$catalog_eco_width = 41px;
$catalog_eco_height = 57px;
$catalog_eco_total_width = 375px;
$catalog_eco_total_height = 236px;
$catalog_eco_image = '-sprite.png';
$catalog_eco = 206px 103px -206px -103px 41px 57px 375px 236px '-sprite.png' 'catalog_eco';
$catalog_oneposuda_name = 'catalog_oneposuda';
$catalog_oneposuda_x = 206px;
$catalog_oneposuda_y = 51px;
$catalog_oneposuda_offset_x = -206px;
$catalog_oneposuda_offset_y = -51px;
$catalog_oneposuda_width = 68px;
$catalog_oneposuda_height = 52px;
$catalog_oneposuda_total_width = 375px;
$catalog_oneposuda_total_height = 236px;
$catalog_oneposuda_image = '-sprite.png';
$catalog_oneposuda = 206px 51px -206px -51px 68px 52px 375px 236px '-sprite.png' 'catalog_oneposuda';
$catalog_slider_left_disable_name = 'catalog_slider_left_disable';
$catalog_slider_left_disable_x = 39px;
$catalog_slider_left_disable_y = 204px;
$catalog_slider_left_disable_offset_x = -39px;
$catalog_slider_left_disable_offset_y = -204px;
$catalog_slider_left_disable_width = 17px;
$catalog_slider_left_disable_height = 26px;
$catalog_slider_left_disable_total_width = 375px;
$catalog_slider_left_disable_total_height = 236px;
$catalog_slider_left_disable_image = '-sprite.png';
$catalog_slider_left_disable = 39px 204px -39px -204px 17px 26px 375px 236px '-sprite.png' 'catalog_slider_left_disable';
$catalog_slider_right_name = 'catalog_slider_right';
$catalog_slider_right_x = 56px;
$catalog_slider_right_y = 204px;
$catalog_slider_right_offset_x = -56px;
$catalog_slider_right_offset_y = -204px;
$catalog_slider_right_width = 17px;
$catalog_slider_right_height = 26px;
$catalog_slider_right_total_width = 375px;
$catalog_slider_right_total_height = 236px;
$catalog_slider_right_image = '-sprite.png';
$catalog_slider_right = 56px 204px -56px -204px 17px 26px 375px 236px '-sprite.png' 'catalog_slider_right';
$checkbox_hover_name = 'checkbox_hover';
$checkbox_hover_x = 148px;
$checkbox_hover_y = 175px;
$checkbox_hover_offset_x = -148px;
$checkbox_hover_offset_y = -175px;
$checkbox_hover_width = 24px;
$checkbox_hover_height = 24px;
$checkbox_hover_total_width = 375px;
$checkbox_hover_total_height = 236px;
$checkbox_hover_image = '-sprite.png';
$checkbox_hover = 148px 175px -148px -175px 24px 24px 375px 236px '-sprite.png' 'checkbox_hover';
$checkbox_ok_name = 'checkbox_ok';
$checkbox_ok_x = 172px;
$checkbox_ok_y = 175px;
$checkbox_ok_offset_x = -172px;
$checkbox_ok_offset_y = -175px;
$checkbox_ok_width = 24px;
$checkbox_ok_height = 24px;
$checkbox_ok_total_width = 375px;
$checkbox_ok_total_height = 236px;
$checkbox_ok_image = '-sprite.png';
$checkbox_ok = 172px 175px -172px -175px 24px 24px 375px 236px '-sprite.png' 'checkbox_ok';
$checkbox_1_name = 'checkbox-1';
$checkbox_1_x = 347px;
$checkbox_1_y = 127px;
$checkbox_1_offset_x = -347px;
$checkbox_1_offset_y = -127px;
$checkbox_1_width = 24px;
$checkbox_1_height = 24px;
$checkbox_1_total_width = 375px;
$checkbox_1_total_height = 236px;
$checkbox_1_image = '-sprite.png';
$checkbox_1 = 347px 127px -347px -127px 24px 24px 375px 236px '-sprite.png' 'checkbox-1';
$checkbox_name = 'checkbox';
$checkbox_x = 28px;
$checkbox_y = 175px;
$checkbox_offset_x = -28px;
$checkbox_offset_y = -175px;
$checkbox_width = 24px;
$checkbox_height = 24px;
$checkbox_total_width = 375px;
$checkbox_total_height = 236px;
$checkbox_image = '-sprite.png';
$checkbox = 28px 175px -28px -175px 24px 24px 375px 236px '-sprite.png' 'checkbox';
$checkbox2_hover_name = 'checkbox2_hover';
$checkbox2_hover_x = 52px;
$checkbox2_hover_y = 175px;
$checkbox2_hover_offset_x = -52px;
$checkbox2_hover_offset_y = -175px;
$checkbox2_hover_width = 24px;
$checkbox2_hover_height = 24px;
$checkbox2_hover_total_width = 375px;
$checkbox2_hover_total_height = 236px;
$checkbox2_hover_image = '-sprite.png';
$checkbox2_hover = 52px 175px -52px -175px 24px 24px 375px 236px '-sprite.png' 'checkbox2_hover';
$checkbox2_ok_name = 'checkbox2_ok';
$checkbox2_ok_x = 76px;
$checkbox2_ok_y = 175px;
$checkbox2_ok_offset_x = -76px;
$checkbox2_ok_offset_y = -175px;
$checkbox2_ok_width = 24px;
$checkbox2_ok_height = 24px;
$checkbox2_ok_total_width = 375px;
$checkbox2_ok_total_height = 236px;
$checkbox2_ok_image = '-sprite.png';
$checkbox2_ok = 76px 175px -76px -175px 24px 24px 375px 236px '-sprite.png' 'checkbox2_ok';
$footer_facebook_name = 'footer_facebook';
$footer_facebook_x = 73px;
$footer_facebook_y = 204px;
$footer_facebook_offset_x = -73px;
$footer_facebook_offset_y = -204px;
$footer_facebook_width = 18px;
$footer_facebook_height = 21px;
$footer_facebook_total_width = 375px;
$footer_facebook_total_height = 236px;
$footer_facebook_image = '-sprite.png';
$footer_facebook = 73px 204px -73px -204px 18px 21px 375px 236px '-sprite.png' 'footer_facebook';
$footer_heart_name = 'footer_heart';
$footer_heart_x = 335px;
$footer_heart_y = 86px;
$footer_heart_offset_x = -335px;
$footer_heart_offset_y = -86px;
$footer_heart_width = 16px;
$footer_heart_height = 15px;
$footer_heart_total_width = 375px;
$footer_heart_total_height = 236px;
$footer_heart_image = '-sprite.png';
$footer_heart = 335px 86px -335px -86px 16px 15px 375px 236px '-sprite.png' 'footer_heart';
$footer_up_name = 'footer_up';
$footer_up_x = 274px;
$footer_up_y = 86px;
$footer_up_offset_x = -274px;
$footer_up_offset_y = -86px;
$footer_up_width = 27px;
$footer_up_height = 17px;
$footer_up_total_width = 375px;
$footer_up_total_height = 236px;
$footer_up_image = '-sprite.png';
$footer_up = 274px 86px -274px -86px 27px 17px 375px 236px '-sprite.png' 'footer_up';
$footer_vk_name = 'footer_vk';
$footer_vk_x = 268px;
$footer_vk_y = 175px;
$footer_vk_offset_x = -268px;
$footer_vk_offset_y = -175px;
$footer_vk_width = 24px;
$footer_vk_height = 20px;
$footer_vk_total_width = 375px;
$footer_vk_total_height = 236px;
$footer_vk_image = '-sprite.png';
$footer_vk = 268px 175px -268px -175px 24px 20px 375px 236px '-sprite.png' 'footer_vk';
$header_basket_name = 'header_basket';
$header_basket_x = 307px;
$header_basket_y = 103px;
$header_basket_offset_x = -307px;
$header_basket_offset_y = -103px;
$header_basket_width = 60px;
$header_basket_height = 24px;
$header_basket_total_width = 375px;
$header_basket_total_height = 236px;
$header_basket_image = '-sprite.png';
$header_basket = 307px 103px -307px -103px 60px 24px 375px 236px '-sprite.png' 'header_basket';
$header_dark_basket_name = 'header_dark_basket';
$header_dark_basket_x = 247px;
$header_dark_basket_y = 103px;
$header_dark_basket_offset_x = -247px;
$header_dark_basket_offset_y = -103px;
$header_dark_basket_width = 60px;
$header_dark_basket_height = 24px;
$header_dark_basket_total_width = 375px;
$header_dark_basket_total_height = 236px;
$header_dark_basket_image = '-sprite.png';
$header_dark_basket = 247px 103px -247px -103px 60px 24px 375px 236px '-sprite.png' 'header_dark_basket';
$header_dark_logo_name = 'header_dark_logo';
$header_dark_logo_x = 0px;
$header_dark_logo_y = 124px;
$header_dark_logo_offset_x = 0px;
$header_dark_logo_offset_y = -124px;
$header_dark_logo_width = 169px;
$header_dark_logo_height = 51px;
$header_dark_logo_total_width = 375px;
$header_dark_logo_total_height = 236px;
$header_dark_logo_image = '-sprite.png';
$header_dark_logo = 0px 124px 0px -124px 169px 51px 375px 236px '-sprite.png' 'header_dark_logo';
$header_dark_menu_name = 'header_dark_menu';
$header_dark_menu_x = 265px;
$header_dark_menu_y = 160px;
$header_dark_menu_offset_x = -265px;
$header_dark_menu_offset_y = -160px;
$header_dark_menu_width = 16px;
$header_dark_menu_height = 13px;
$header_dark_menu_total_width = 375px;
$header_dark_menu_total_height = 236px;
$header_dark_menu_image = '-sprite.png';
$header_dark_menu = 265px 160px -265px -160px 16px 13px 375px 236px '-sprite.png' 'header_dark_menu';
$header_dark_phone_name = 'header_dark_phone';
$header_dark_phone_x = 318px;
$header_dark_phone_y = 86px;
$header_dark_phone_offset_x = -318px;
$header_dark_phone_offset_y = -86px;
$header_dark_phone_width = 17px;
$header_dark_phone_height = 16px;
$header_dark_phone_total_width = 375px;
$header_dark_phone_total_height = 236px;
$header_dark_phone_image = '-sprite.png';
$header_dark_phone = 318px 86px -318px -86px 17px 16px 375px 236px '-sprite.png' 'header_dark_phone';
$header_dark_search_name = 'header_dark_search';
$header_dark_search_x = 206px;
$header_dark_search_y = 160px;
$header_dark_search_offset_x = -206px;
$header_dark_search_offset_y = -160px;
$header_dark_search_width = 15px;
$header_dark_search_height = 15px;
$header_dark_search_total_width = 375px;
$header_dark_search_total_height = 236px;
$header_dark_search_image = '-sprite.png';
$header_dark_search = 206px 160px -206px -160px 15px 15px 375px 236px '-sprite.png' 'header_dark_search';
$header_dark_user_name = 'header_dark_user';
$header_dark_user_x = 235px;
$header_dark_user_y = 160px;
$header_dark_user_offset_x = -235px;
$header_dark_user_offset_y = -160px;
$header_dark_user_width = 14px;
$header_dark_user_height = 15px;
$header_dark_user_total_width = 375px;
$header_dark_user_total_height = 236px;
$header_dark_user_image = '-sprite.png';
$header_dark_user = 235px 160px -235px -160px 14px 15px 375px 236px '-sprite.png' 'header_dark_user';
$header_logo_name = 'header_logo';
$header_logo_x = 206px;
$header_logo_y = 0px;
$header_logo_offset_x = -206px;
$header_logo_offset_y = 0px;
$header_logo_width = 169px;
$header_logo_height = 51px;
$header_logo_total_width = 375px;
$header_logo_total_height = 236px;
$header_logo_image = '-sprite.png';
$header_logo = 206px 0px -206px 0px 169px 51px 375px 236px '-sprite.png' 'header_logo';
$header_menu_name = 'header_menu';
$header_menu_x = 249px;
$header_menu_y = 160px;
$header_menu_offset_x = -249px;
$header_menu_offset_y = -160px;
$header_menu_width = 16px;
$header_menu_height = 13px;
$header_menu_total_width = 375px;
$header_menu_total_height = 236px;
$header_menu_image = '-sprite.png';
$header_menu = 249px 160px -249px -160px 16px 13px 375px 236px '-sprite.png' 'header_menu';
$header_phone_name = 'header_phone';
$header_phone_x = 301px;
$header_phone_y = 86px;
$header_phone_offset_x = -301px;
$header_phone_offset_y = -86px;
$header_phone_width = 17px;
$header_phone_height = 16px;
$header_phone_total_width = 375px;
$header_phone_total_height = 236px;
$header_phone_image = '-sprite.png';
$header_phone = 301px 86px -301px -86px 17px 16px 375px 236px '-sprite.png' 'header_phone';
$header_search_name = 'header_search';
$header_search_x = 351px;
$header_search_y = 86px;
$header_search_offset_x = -351px;
$header_search_offset_y = -86px;
$header_search_width = 15px;
$header_search_height = 15px;
$header_search_total_width = 375px;
$header_search_total_height = 236px;
$header_search_image = '-sprite.png';
$header_search = 351px 86px -351px -86px 15px 15px 375px 236px '-sprite.png' 'header_search';
$header_user_name = 'header_user';
$header_user_x = 221px;
$header_user_y = 160px;
$header_user_offset_x = -221px;
$header_user_offset_y = -160px;
$header_user_width = 14px;
$header_user_height = 15px;
$header_user_total_width = 375px;
$header_user_total_height = 236px;
$header_user_image = '-sprite.png';
$header_user = 221px 160px -221px -160px 14px 15px 375px 236px '-sprite.png' 'header_user';
$input_ok_name = 'input_ok';
$input_ok_x = 281px;
$input_ok_y = 160px;
$input_ok_offset_x = -281px;
$input_ok_offset_y = -160px;
$input_ok_width = 13px;
$input_ok_height = 10px;
$input_ok_total_width = 375px;
$input_ok_total_height = 236px;
$input_ok_image = '-sprite.png';
$input_ok = 281px 160px -281px -160px 13px 10px 375px 236px '-sprite.png' 'input_ok';
$item_eco_name = 'item_eco';
$item_eco_x = 0px;
$item_eco_y = 204px;
$item_eco_offset_x = 0px;
$item_eco_offset_y = -204px;
$item_eco_width = 22px;
$item_eco_height = 32px;
$item_eco_total_width = 375px;
$item_eco_total_height = 236px;
$item_eco_image = '-sprite.png';
$item_eco = 0px 204px 0px -204px 22px 32px 375px 236px '-sprite.png' 'item_eco';
$item_gor_close_hover_name = 'item_gor_close_hover';
$item_gor_close_hover_x = 193px;
$item_gor_close_hover_y = 153px;
$item_gor_close_hover_offset_x = -193px;
$item_gor_close_hover_offset_y = -153px;
$item_gor_close_hover_width = 13px;
$item_gor_close_hover_height = 14px;
$item_gor_close_hover_total_width = 375px;
$item_gor_close_hover_total_height = 236px;
$item_gor_close_hover_image = '-sprite.png';
$item_gor_close_hover = 193px 153px -193px -153px 13px 14px 375px 236px '-sprite.png' 'item_gor_close_hover';
$item_gor_remove_name = 'item_gor_remove';
$item_gor_remove_x = 336px;
$item_gor_remove_y = 175px;
$item_gor_remove_offset_x = -336px;
$item_gor_remove_offset_y = -175px;
$item_gor_remove_width = 13px;
$item_gor_remove_height = 14px;
$item_gor_remove_total_width = 375px;
$item_gor_remove_total_height = 236px;
$item_gor_remove_image = '-sprite.png';
$item_gor_remove = 336px 175px -336px -175px 13px 14px 375px 236px '-sprite.png' 'item_gor_remove';
$item_heart_empty_hover_name = 'item_heart_empty_hover';
$item_heart_empty_hover_x = 244px;
$item_heart_empty_hover_y = 175px;
$item_heart_empty_hover_offset_x = -244px;
$item_heart_empty_hover_offset_y = -175px;
$item_heart_empty_hover_width = 24px;
$item_heart_empty_hover_height = 21px;
$item_heart_empty_hover_total_width = 375px;
$item_heart_empty_hover_total_height = 236px;
$item_heart_empty_hover_image = '-sprite.png';
$item_heart_empty_hover = 244px 175px -244px -175px 24px 21px 375px 236px '-sprite.png' 'item_heart_empty_hover';
$item_heart_empty_name = 'item_heart_empty';
$item_heart_empty_x = 220px;
$item_heart_empty_y = 175px;
$item_heart_empty_offset_x = -220px;
$item_heart_empty_offset_y = -175px;
$item_heart_empty_width = 24px;
$item_heart_empty_height = 21px;
$item_heart_empty_total_width = 375px;
$item_heart_empty_total_height = 236px;
$item_heart_empty_image = '-sprite.png';
$item_heart_empty = 220px 175px -220px -175px 24px 21px 375px 236px '-sprite.png' 'item_heart_empty';
$item_heart_true_name = 'item_heart_true';
$item_heart_true_x = 169px;
$item_heart_true_y = 153px;
$item_heart_true_offset_x = -169px;
$item_heart_true_offset_y = -153px;
$item_heart_true_width = 24px;
$item_heart_true_height = 21px;
$item_heart_true_total_width = 375px;
$item_heart_true_total_height = 236px;
$item_heart_true_image = '-sprite.png';
$item_heart_true = 169px 153px -169px -153px 24px 21px 375px 236px '-sprite.png' 'item_heart_true';
$mobile_footer_facebook_name = 'mobile_footer_facebook';
$mobile_footer_facebook_x = 91px;
$mobile_footer_facebook_y = 204px;
$mobile_footer_facebook_offset_x = -91px;
$mobile_footer_facebook_offset_y = -204px;
$mobile_footer_facebook_width = 18px;
$mobile_footer_facebook_height = 19px;
$mobile_footer_facebook_total_width = 375px;
$mobile_footer_facebook_total_height = 236px;
$mobile_footer_facebook_image = '-sprite.png';
$mobile_footer_facebook = 91px 204px -91px -204px 18px 19px 375px 236px '-sprite.png' 'mobile_footer_facebook';
$mobile_footer_heart_name = 'mobile_footer_heart';
$mobile_footer_heart_x = 316px;
$mobile_footer_heart_y = 175px;
$mobile_footer_heart_offset_x = -316px;
$mobile_footer_heart_offset_y = -175px;
$mobile_footer_heart_width = 20px;
$mobile_footer_heart_height = 18px;
$mobile_footer_heart_total_width = 375px;
$mobile_footer_heart_total_height = 236px;
$mobile_footer_heart_image = '-sprite.png';
$mobile_footer_heart = 316px 175px -316px -175px 20px 18px 375px 236px '-sprite.png' 'mobile_footer_heart';
$mobile_footer_up_name = 'mobile_footer_up';
$mobile_footer_up_x = 274px;
$mobile_footer_up_y = 51px;
$mobile_footer_up_offset_x = -274px;
$mobile_footer_up_offset_y = -51px;
$mobile_footer_up_width = 44px;
$mobile_footer_up_height = 35px;
$mobile_footer_up_total_width = 375px;
$mobile_footer_up_total_height = 236px;
$mobile_footer_up_image = '-sprite.png';
$mobile_footer_up = 274px 51px -274px -51px 44px 35px 375px 236px '-sprite.png' 'mobile_footer_up';
$mobile_footer_vk_name = 'mobile_footer_vk';
$mobile_footer_vk_x = 292px;
$mobile_footer_vk_y = 175px;
$mobile_footer_vk_offset_x = -292px;
$mobile_footer_vk_offset_y = -175px;
$mobile_footer_vk_width = 24px;
$mobile_footer_vk_height = 18px;
$mobile_footer_vk_total_width = 375px;
$mobile_footer_vk_total_height = 236px;
$mobile_footer_vk_image = '-sprite.png';
$mobile_footer_vk = 292px 175px -292px -175px 24px 18px 375px 236px '-sprite.png' 'mobile_footer_vk';
$mobile_header_basket_name = 'mobile_header_basket';
$mobile_header_basket_x = 247px;
$mobile_header_basket_y = 127px;
$mobile_header_basket_offset_x = -247px;
$mobile_header_basket_offset_y = -127px;
$mobile_header_basket_width = 34px;
$mobile_header_basket_height = 28px;
$mobile_header_basket_total_width = 375px;
$mobile_header_basket_total_height = 236px;
$mobile_header_basket_image = '-sprite.png';
$mobile_header_basket = 247px 127px -247px -127px 34px 28px 375px 236px '-sprite.png' 'mobile_header_basket';
$mobile_header_dark_basket_name = 'mobile_header_dark_basket';
$mobile_header_dark_basket_x = 318px;
$mobile_header_dark_basket_y = 51px;
$mobile_header_dark_basket_offset_x = -318px;
$mobile_header_dark_basket_offset_y = -51px;
$mobile_header_dark_basket_width = 34px;
$mobile_header_dark_basket_height = 28px;
$mobile_header_dark_basket_total_width = 375px;
$mobile_header_dark_basket_total_height = 236px;
$mobile_header_dark_basket_image = '-sprite.png';
$mobile_header_dark_basket = 318px 51px -318px -51px 34px 28px 375px 236px '-sprite.png' 'mobile_header_dark_basket';
$mobile_header_dark_logo_name = 'mobile_header_dark_logo';
$mobile_header_dark_logo_x = 0px;
$mobile_header_dark_logo_y = 0px;
$mobile_header_dark_logo_offset_x = 0px;
$mobile_header_dark_logo_offset_y = 0px;
$mobile_header_dark_logo_width = 206px;
$mobile_header_dark_logo_height = 62px;
$mobile_header_dark_logo_total_width = 375px;
$mobile_header_dark_logo_total_height = 236px;
$mobile_header_dark_logo_image = '-sprite.png';
$mobile_header_dark_logo = 0px 0px 0px 0px 206px 62px 375px 236px '-sprite.png' 'mobile_header_dark_logo';
$mobile_header_dark_menu_name = 'mobile_header_dark_menu';
$mobile_header_dark_menu_x = 281px;
$mobile_header_dark_menu_y = 127px;
$mobile_header_dark_menu_offset_x = -281px;
$mobile_header_dark_menu_offset_y = -127px;
$mobile_header_dark_menu_width = 33px;
$mobile_header_dark_menu_height = 27px;
$mobile_header_dark_menu_total_width = 375px;
$mobile_header_dark_menu_total_height = 236px;
$mobile_header_dark_menu_image = '-sprite.png';
$mobile_header_dark_menu = 281px 127px -281px -127px 33px 27px 375px 236px '-sprite.png' 'mobile_header_dark_menu';
$mobile_header_dark_user_name = 'mobile_header_dark_user';
$mobile_header_dark_user_x = 169px;
$mobile_header_dark_user_y = 124px;
$mobile_header_dark_user_offset_x = -169px;
$mobile_header_dark_user_offset_y = -124px;
$mobile_header_dark_user_width = 28px;
$mobile_header_dark_user_height = 29px;
$mobile_header_dark_user_total_width = 375px;
$mobile_header_dark_user_total_height = 236px;
$mobile_header_dark_user_image = '-sprite.png';
$mobile_header_dark_user = 169px 124px -169px -124px 28px 29px 375px 236px '-sprite.png' 'mobile_header_dark_user';
$mobile_header_logo_name = 'mobile_header_logo';
$mobile_header_logo_x = 0px;
$mobile_header_logo_y = 62px;
$mobile_header_logo_offset_x = 0px;
$mobile_header_logo_offset_y = -62px;
$mobile_header_logo_width = 206px;
$mobile_header_logo_height = 62px;
$mobile_header_logo_total_width = 375px;
$mobile_header_logo_total_height = 236px;
$mobile_header_logo_image = '-sprite.png';
$mobile_header_logo = 0px 62px 0px -62px 206px 62px 375px 236px '-sprite.png' 'mobile_header_logo';
$mobile_header_menu_name = 'mobile_header_menu';
$mobile_header_menu_x = 314px;
$mobile_header_menu_y = 127px;
$mobile_header_menu_offset_x = -314px;
$mobile_header_menu_offset_y = -127px;
$mobile_header_menu_width = 33px;
$mobile_header_menu_height = 27px;
$mobile_header_menu_total_width = 375px;
$mobile_header_menu_total_height = 236px;
$mobile_header_menu_image = '-sprite.png';
$mobile_header_menu = 314px 127px -314px -127px 33px 27px 375px 236px '-sprite.png' 'mobile_header_menu';
$mobile_header_user_name = 'mobile_header_user';
$mobile_header_user_x = 0px;
$mobile_header_user_y = 175px;
$mobile_header_user_offset_x = 0px;
$mobile_header_user_offset_y = -175px;
$mobile_header_user_width = 28px;
$mobile_header_user_height = 29px;
$mobile_header_user_total_width = 375px;
$mobile_header_user_total_height = 236px;
$mobile_header_user_image = '-sprite.png';
$mobile_header_user = 0px 175px 0px -175px 28px 29px 375px 236px '-sprite.png' 'mobile_header_user';
$radio_hover_name = 'radio_hover';
$radio_hover_x = 124px;
$radio_hover_y = 175px;
$radio_hover_offset_x = -124px;
$radio_hover_offset_y = -175px;
$radio_hover_width = 24px;
$radio_hover_height = 24px;
$radio_hover_total_width = 375px;
$radio_hover_total_height = 236px;
$radio_hover_image = '-sprite.png';
$radio_hover = 124px 175px -124px -175px 24px 24px 375px 236px '-sprite.png' 'radio_hover';
$radio_selected_name = 'radio_selected';
$radio_selected_x = 196px;
$radio_selected_y = 175px;
$radio_selected_offset_x = -196px;
$radio_selected_offset_y = -175px;
$radio_selected_width = 24px;
$radio_selected_height = 24px;
$radio_selected_total_width = 375px;
$radio_selected_total_height = 236px;
$radio_selected_image = '-sprite.png';
$radio_selected = 196px 175px -196px -175px 24px 24px 375px 236px '-sprite.png' 'radio_selected';
$radio_name = 'radio';
$radio_x = 100px;
$radio_y = 175px;
$radio_offset_x = -100px;
$radio_offset_y = -175px;
$radio_width = 24px;
$radio_height = 24px;
$radio_total_width = 375px;
$radio_total_height = 236px;
$radio_image = '-sprite.png';
$radio = 100px 175px -100px -175px 24px 24px 375px 236px '-sprite.png' 'radio';
$spritesheet_width = 375px;
$spritesheet_height = 236px;
$spritesheet_image = '-sprite.png';
$spritesheet_sprites = $arrow_left_disabled $arrow_right $caret_focus $caret $catalog_eco $catalog_oneposuda $catalog_slider_left_disable $catalog_slider_right $checkbox_hover $checkbox_ok $checkbox_1 $checkbox $checkbox2_hover $checkbox2_ok $footer_facebook $footer_heart $footer_up $footer_vk $header_basket $header_dark_basket $header_dark_logo $header_dark_menu $header_dark_phone $header_dark_search $header_dark_user $header_logo $header_menu $header_phone $header_search $header_user $input_ok $item_eco $item_gor_close_hover $item_gor_remove $item_heart_empty_hover $item_heart_empty $item_heart_true $mobile_footer_facebook $mobile_footer_heart $mobile_footer_up $mobile_footer_vk $mobile_header_basket $mobile_header_dark_basket $mobile_header_dark_logo $mobile_header_dark_menu $mobile_header_dark_user $mobile_header_logo $mobile_header_menu $mobile_header_user $radio_hover $radio_selected $radio;
$spritesheet = 375px 236px '-sprite.png' $spritesheet_sprites;

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  spriteWidth($icon_home)
}

.icon-email {
  sprite($icon_email)
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
spriteWidth($sprite) {
  width: $sprite[4];
}

spriteHeight($sprite) {
  height: $sprite[5];
}

spritePosition($sprite) {
  background-position: $sprite[2] $sprite[3];
}

spriteImage($sprite) {
  background-image: url($sprite[8]);
}

sprite($sprite) {
  spriteImage($sprite)
  spritePosition($sprite)
  spriteWidth($sprite)
  spriteHeight($sprite)
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of Stylus

This must be run when you have at least 2 sprites.
  If run with a single sprite, then there will be reference errors.

sprites($spritesheet_sprites);
*/
sprites($sprites) {
  for $sprite in $sprites {
    $sprite_name = $sprite[9];
    .{$sprite_name} {
      sprite($sprite);
    }
  }
}
