@import 'variables.styl'
@import 'sprite.styl'

import_tree('./components')

body
  padding 0px
  margin 0px
  min-height 100vh
  background linear-gradient(0deg, #f9f9f9 0%, #ffffff 100%)

a
  color blue
  background url(../../images/sprites/footer/1-freepik.png) no-repeat

  
