@import 'variables.styl'
@import 'sprite.styl'

import_tree('./components')

*
  margin 0
  padding 0

body
  padding 0px
  margin 0px
  font-family FuturaPTBook
  min-height 100vh
  background linear-gradient(0deg, #f9f9f9 0%, #ffffff 100%)
  /*background url(../../images/sprites/sdf.png) no-repeat*/

a
  color black
  transition 150ms all ease-in
  
  &.green_underline:hover
  &.green_underline:active
    color color_green
  
a:hover
a:active
  text-decoration none
  color black
 
ul
  list-style none 
  margin-bottom 0px

.gradient_underlinehover
  position relative
  display inline-block
  z-index 1
  
  &:before
    opacity 0
    display block
    transition 200ms all ease-in
    z-index -1
    right -4px
    bottom 3px
    background: -webkit-linear-gradient(180deg, #4d9bc0 0%, #98c04d 100%)
    background: -moz-linear-gradient(180deg, #4d9bc0 0%, #98c04d 100%)
    background: -o-linear-gradient(180deg, #4d9bc0 0%, #98c04d 100%)
    background: -ms-linear-gradient(180deg, #4d9bc0 0%, #98c04d 100%)
    background: linear-gradient(-90deg, #4d9bc0 0%, #98c04d 100%)
    content ''
    position absolute
    width 100%
    height 50%

  &:hover:before
  &:active:before
    opacity 1

.green_underline
  border-bottom 1px solid #c3e782

section
  margin-top 100px

h1
h2
h3
h4
h5
h6
  margin 0px
  padding 0px

h2
  font-family FuturaPTHeavy
  color black
  font-size 62px
  line-height 60px
  
h3
  font-family FuturaPTBold
  color black






@media (min-width:  1300px)
  .container
    width 1280px

@media (max-width: 991px)

  h2
    font-size 72px
  h3
    font-size 48px

  .container
    padding-left 45px
    padding-right 45px
 

.catalog
  &_preferences
    overflow hidden
    
    &_item
      padding-top 180px
      
      h3
        margin-right -30px
      

      div
        z-index -1
        position absolute
        top -30px
        left -100px
        right -100px
        height 200%
        
        
      &_1
        div
          background url(../../images/sprites/catalog_complex_assortiment.png) center -20px no-repeat
        
      &_2
        div
          background url(../../images/sprites/catalog_complex_education.png) center 20px no-repeat
        
      &_3
        div
          background url(../../images/sprites/catalog_complex_delivery.png) center 20px no-repeat
        
      &_4
        div
          background url(../../images/sprites/catalog_complex_servis.png) center -20px no-repeat

      & + &
        margin-left 6.66666666667%
      
      & p
        font-size 16px
        line-height 24px
        font-family LeksaPro
        margin-top 15px  

@media (max-width: 991px)
  .catalog
    &_preferences
      &_item
        padding-top 270px
        
        & p
          margin-top 30px
          font-size 32px
          line-height 40px

        & + &
          margin-left 0px

