color_black = rgba(0, 0, 0, 0.8)

color_white = white
color_gray = #98a4a6
color_gray_more = #84949a
color_white_opacity = rgba(255,255,255, 0.5)

color_green = #98c04d
color_green_opacity = rgba(152, 192, 77, 0.3)
color_yellow = #f8f364